<?php
require("prepend.php3");
require("event_calendar.inc");
#$DSDEBUG=1;
$template_no = OneSQLValue( "select template_no from calendaroption where calendaroption_no = 1" );
DSBeginPage(CalendarField("calendar_heading"),0,1,$template_no);

js_popup();

if( !$y ) $y = date("Y",time());
if( !$m ) $m = date("m",time());

$mymonth = new month($m,$y);

echo "
<table width=$DSTABLEWIDTH BORDER=0 CELLSPACING=0 CELLPADDING=0>

<tr BGCOLOR=$DSHEADINGBG>
    <td align=left valign=bottom><a href=$PHP_SELF?m=$mymonth->prevmonth&y=$mymonth->prevyear><IMG SRC=/images/prev.gif border=0></a></td>
    <td align=center><FONT COLOR=$DSHEADINGFG><B>".CalendarField("calendar_heading")."</B><BR>$mymonth->month_name, $mymonth->year</td>
    <td align=right><a href=calendarprint.php><img src=images/printicon_small.gif align=right border=0 alt=\"Print Friendly Version\"></a><BR><a href=$PHP_SELF?m=$mymonth->nextmonth&y=$mymonth->nextyear><IMG SRC=/images/next.gif border=0></a><br></td>
</tr>
</TABLE>
";
echo "<table width=$DSTABLEWIDTH cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n";
echo "<tr>";
echo "  <td bgcolor=$DSALTWINDOWBG align=center>\n";

$mymonth->draw(array("cellspacing" => "1" , "cellpadding" => "1" ,
                      "top_row_align" => "center" , "table_height" => "300px" ,
                      "top_row_cell_height" => 20 , "bgcolor" => "$DSWINDOWBG" ,
                      "row_align" => "left" , "row_valign" => "top" ,
                      "font_size" => "1") );
echo "</td></tr></table>";


    if (CalendarField("allow_calendar_posts")=="Y")
        echo "<center><a href=calendar_messages_edit.dtop>Include your event here!</A></CENTER>";
    if (InstantEdit()) {
        echo "<a href=calendar_messages_browse.dtop><img src=$DSEDITBUTTON border=0></a>";
        echo "  <a href=calendar_messages_edit.dtop><img src=$DSADDBUTTON border=0></a>";
    }
DSEndPage(0,0,$template_no);
?>
