<?php
require("prepend.php3");
require("calendar.inc");
#$DSDEBUG=1;
$CurrentRecord=ReadCurrentRecord("calendar_messages","msg_id",$key);
$template_no = OneSQLValue( "select template_no from calendaroption where calendaroption_no = 1" );
DSBeginPage("$CurrentRecord->msg_title",0,1,$template_no);
echo "
<TABLE WIDTH=$DSTABLEWIDTH CELLPADDING=$DSTABLECELLPADDING CELLSPACING=$DSTABLECELLSPACING BGCOLOR=$DSWINDOWBG>
<TR><TD BGCOLOR=$DSHEADINGBG><H3><FONT COLOR=$DSHEADINGFG>$CurrentRecord->msg_title</FONT></TD></TR>
<TR><TD BGCOLOR=$DSCOLDATABG><FONT COLOR=$DSCOLDATAFG>$CurrentRecord->msg_month/$CurrentRecord->msg_day/$CurrentRecord->msg_year</FONT>
";
if (strlen($CurrentRecord->msg_time))
    echo "<BR><FONT COLOR=$DSCOLDATAFG>$CurrentRecord->msg_time</FONT>";
if (strlen($CurrentRecord->msg_location))
    echo "<BR><FONT COLOR=$DSCOLDATAFG>$CurrentRecord->msg_location</FONT>";
echo "
</TD></TR>
<TR><TD HEIGHT=200 VALIGN=TOP>$CurrentRecord->msg_text</TD></TR>
<TR><TD BGCOLOR=$DSHEADINGBG><H3><FONT COLOR=$DSHEADINGFG>&nbsp;</FONT></TD></TR>
</TABLE>";
$month=sprintf("%02.2d",$CurrentRecord->msg_month);
echo "<BR><center><A href=\"calendar.html?m=$month&y=$CurrentRecord->msg_year\">".SiteField("calendar_heading")."</a></center>";
if (InstantEdit()) {
    echo "<a href=calendar_messages_edit.dtop?key=$CurrentRecord->msg_id><img src=$DSEDITBUTTON border=0></a>";
}
#test only
#DrawEvents();
DSEndPage(0,0,$template_no);
?>
