<?php
########################################################################
# Copyright 1999 Desktop Solutions Software, Inc.
# 631-493-3422
# info@desktopsolutions.com
# www.desktopsolutions.com
# usage rights granted for use on a per-project-basis
#########################################################################
# comments.html - gets comments for cart
# TJM 06/01/2001
require ("prepend.php3");
require ("discount.inc");
require ("process.inc");
page_open(
    array("sess" => "DS_Session"
    ,"auth" => "DS_Auth"
    ,"perm" => "DS_Perm"
    ));
page_close();
$userid = GetUserId();

$cartid=GetCurrentCartID();
######
Function viewitem($t)
######
{
    $r=$t->record;
    $data=
    "<a href=displayproduct.html?tablename=$r[tablename]&itemnum=".urlencode($r[itemnum]).
    ">$r[itemnum]</A>" ;
    echo "<TD NOWRAP ALIGN=CENTER VALIGN=CENTER><FONT $t->Font>$data</FONT></TD>";
}
######
Function price($t)
######
{
    $r=$t->record;
    $data=number_format(CalculatePrice($r[price]),2);
    echo "<TD NOWRAP ALIGN=RIGHT VALIGN=CENTER><FONT $t->Font>$data</FONT></TD>";
}
######
Function cost($t)
######
{
    global $TotalCost;
    $r=$t->record;
    $cost=CalculatePrice($r[price]) * $r[quantity];
    $data=number_format($cost,2);
    $TotalCost += $cost;
    echo "<TD NOWRAP ALIGN=RIGHT VALIGN=CENTER><FONT $t->Font>$data</FONT></TD>";
}


if (isset($continue)) {
    //insert order comments into list
    DoQuery("UPDATE list SET
    order_comment='$ordercomments',
    currentstatus='newcart',dteentry=NOW()
    WHERE list_no='$cartid'");
    ProcessCart($PHP_SELF,$cartid,"newcart");
    return;
}


## Continue to 'continue' page?
#if (strlen($continue)) {
#   Header("Location:  $DSCONTINUEURL");
#    return;
#}

# TJM, if I know who you are, update the list table
#$userid = GetUserId();
if ($userid) {
    DoQuery("UPDATE list SET userid_ordered = '$userid' WHERE list_no='$cartid'");
    page_close();
}


#echo $auth->auth['uname'];
$t = new DSBrowse;
$db = new DB_Example;
$t->TopHeading="Your Current $DSCARTNAME:";
$t->Key = "listdetail_no"; //must match case used in select statement!
$t->classname = "listdetail";
$t->TableName="listdetail";
$t->db = $db;
$t->Columns="quantity,'i' as viewitem,description,";
if (SiteField('enterprices')=='Y') {
    $t->Columns.=
        "price,'i' as cost,";
}
$t->Columns.="listdetail_no,tablename,itemnum";

$t->Functions=Array("viewitem"=>"viewitem");
if (SiteField('enterprices')=='Y') {
    $t->Functions["cost"]="cost";
    $t->Functions["price"]="price";
}

$t->fields=array("Quantity","Item","Description");
if (SiteField('enterprices')=='Y') {
    $t->fields[]="Price";
    $t->fields[]="Cost";
}
$t->HideFrom = count($t->fields);
$t->SearchChoices = array();
$t->DisplayRows=0;
## Optional settings:
$t->AltColorFlag=1;
$t->NoAdding=1;
$t->NoEditing=1;
$t->WhereClause="list_no=".$cartid;
$t->TableWidth="100%";
$t->OrderBy = "itemnum";
#$t->ChangeOrder=1;
DSBeginPage("Your $DSCARTNAME Contents");

$text = SiteField("checkout_comment");
$count = OneSQLValue("SELECT count(*) AS C FROM listdetail WHERE list_no = $cartid");
echo MergeFields($text,$userid,$cartid);
echo "<form action=$PHP_SELF method=GET>";

$TotalCost=0;

$t->display();
$TotalCost=number_format($TotalCost,2);
if (SiteField('enterprices')=='Y') {
    $totalpricehtml=
    "<tr BGCOLOR=$DSCOLDATABG>
    <td colspan=4 align=right><b>Total Cost:&nbsp;$TotalCost</b></td>
    </tr>";
}

echo "<table width=100% border=0 cellspacing=0 cellpadding=2>";
if ($count>0) {
    echo "
    <!--<tr><td bgcolor=\"CORNSILK\">&nbsp;</td><td bgcolor=\"CORNSILK\">&nbsp;</td></tr> -->
    $totalpricehtml
    <tr><td bgcolor=$DSALTCOLDATABG valign=top>Order Comments:</td><td bgcolor=$DSALTCOLDATABG><textarea name=ordercomments rows=4 cols=30></textarea></td></tr>
    <tr BGCOLOR=$DSHEADINGBG>
    <td align=right colspan=2><input type=submit name=continue value='Next&gt;&gt;'></td>
    </td>
    </tr>
    ";
}
else {  // no items in cart
    echo "<tr><td bgcolor=\"CORNSILK\" colspan=2>Your cart is empty</td></tr>";

}
echo "
</table>
<input type='hidden' name='list_no' value='$cartid'>
</form>
";

# upsells
# ShowUpsells("cart");
# echo "foo";
DSEndPage();
#page_close();
?>
