<?php
########################################################################
# Copyright 2001 Desktop Solutions Software, Inc.
# 631-493-3422
# info@dtopinc.com
# www.dtopinc.com
# usage rights granted for use on a per-project-basis
#########################################################################
# $Id: contactusform.html,v 1.1 2001/12/19 18:08:07 frank Exp $
require ("prepend.php3");
#page_open(array("sess" => "DS_Session"
#				,"auth" => "DS_Auth",
#				"perm" => "DS_Perm"
#				));
#########################################################################
#########################################################################
# contactus.html - users can contact using this form
##############
$form = new DSForm;
#$DSDEBUG=1;

#$CurrentRecord = ReadCurrentRecord("mailinglist","uid",$key);
$CurrentRecord = GetUsersRecord();
//Set up fields here
if (isset($key)) {
    $form->add_element(array(
                        "type"=>"hidden",
                        "name"=>"key",
                        "value"=>$key
                        ));
}
if (isset($delete)) {
    $form->add_element(array(
                        "type"=>"hidden",
                        "name"=>"delete",
                        "value"=>1
                        ));
}
//################# HELPER FUNCTIONS ###################
##############
Function AddCFElement($name,$width)
##############
# conditionally adds an element to the form object with the correct error text and required attribute
{
    global $form;
    if (!CFOption($name,"is_hidden")) {
        $a=array(
        "type"=>"text",
        "name"=>"field_".$name,
        "value"=>$CurrentRecord->$name,
        "size"=>$width);
        if (CFOption($name,"is_required")) {
            $a[minlength]=1;
            $a[length_e]="Please enter ".CFLabel($name);
        }
        $form->add_element($a);
    }
}
##################
function CFOption($columnname,$option)
##################
# returns a logical value from the contactform table
{
    return OneSQLValue("SELECT 1 FROM contactform WHERE columnname='$columnname' AND $option='Y'");
}
##################
function CFLabel($columnname)
##################
# returns the label from the contactform table
{
    return OneSQLValue("SELECT display_text FROM contactform WHERE columnname='$columnname'");
}
##################
function CFDraw($columnname)
##################
# draws a field contactform table
{
global $form;
    if (!CFOption($columnname,"is_hidden"))
        $form->DrawField("field_".$columnname,CFLabel($columnname),CFOption($columnname,"is_required"),0,0);
}

## builtin field names; this is used to isolate user added fields later:
## note this is a SQL inclusion list, not a PHP array...
$builtin=
   '"uid",
    "username",
    "password",
    "perms",
    "ipaddress",
    "receiveupdates",
    "instantedit",
    "active",
    "lastlogon",
    "timesloggedon"';

#############

# set up default fields...
# default perms are "user"
$form->add_element(array(
            "type"=>"hidden",
            "name"=>"field_perms",
            "value"=>"user"
            ));

# default active is 'Y'
$form->add_element(array(
            "type"=>"hidden",
            "name"=>"field_active",
            "value"=>"Y"
            ));

# get ip address
$form->add_element(array(
            "type"=>"hidden",
            "name"=>"field_ipaddress",
            "value"=>$REMOTE_ADDR
            ));

$form->add_element(array(
"type"=>"text",
"name"=>"field_username",
"value"=>$CurrentRecord->username,
"size"=>32,
"maxlength"=>80,
"minlength"=>1,
"length_e"=>"Please enter the Email Address field."
));

$form->add_element(array(
"type"=>"select",
"name"=>"field_receiveupdates",
    "value"=>$CurrentRecord->receiveupdates,
    "size"=>1,
    "options"=>YNSelectArray()
    ));

$form->add_element(array(
"type"=>"textarea",
"name"=>"suggestions"
,"cols"=>40
,"rows"=>10
,"wrap"=>"on"
));


######################
Function DrawCFUserField($Field)
######################
# adds element for a user field
{
global $form,$DSTEXTFG,$jsafter,$jsbefore;
    if ($Field->field_type=='M') {
        $Field->display_text.="<br><font size=1 color=$DSTEXTFG>(Use ctrl-click or command-click on mac to select)</font>";
    }

    if ($Field->is_hidden<>"Y") {
      if ($Field->field_type=='D') {
        $Field->display_text.="<br><font size=1 color=$DSTEXTFG>(mm/dd/yyyy Format)</font>";
        $form->DrawDate($Field->columnname,$Field->display_text,$Field->is_required=='Y',0);
        if ($Field->is_required=="Y") {
            $jsafter.=ReturnDateJSFunc($Field->columnname,strip_tags($Field->display_text));
#            echo $jsafter;
        }
      }
      elseif ($Field->field_type=='T') {
        $Field->display_text.="<br><font size=1 color=$DSTEXTFG>(hh:mm Format)</font>";
        $form->DrawTime($Field->columnname,$Field->display_text,$Field->is_required=='Y');
      }
      else {
        $form->DrawField("field_".$Field->columnname,$Field->display_text,$Field->is_required=='Y',0,0);
        if ($Field->field_type=="X" && $Field->is_required=='Y') {
            $jsafter.=ReturnTextAreaJSFunc("field_".$Field->columnname,strip_tags($Field->display_text));
        }
      }
    }
}


#           $sqlarray = FillSQLArrayTwo("select text,code from code where category=\"dropoff\" order by cardinal");
#           $form->add_element(array(
#           "type"=>"select",
#           "name"=>"field_dropoff_or_mobile",
#           "value"=>$CurrentRecord->dropoff_or_mobile,
#           "options"=>$sqlarray));
#           $form->AddDate("dte_of_service",$CurrentRecord);



######################
Function AddCFUserField($Field)
######################
# adds element for a user field
{
    global $form;
    if ($Field->is_hidden=='Y') {
        return;
    }
    switch($Field->field_type) {
        case "C": //"Char"
            $a=array(
            "type"=>"text",
            "name"=>"field_".$Field->columnname,
            "value"=>$CurrentRecord->$columnname,
            "size"=>40);
            if ($Field->is_required=="Y") {
                $a[minlength]=1;
                $a[length_e]="Please enter ".$Field->$columnname;
            }
            $form->add_element($a);
            break;
        case "X": //"Text"
            $a=array(
            "type"=>"textarea",
            "name"=>"field_".$Field->columnname,
            "value"=>$CurrentRecord->$columnname,
            "cols"=>40,
            "rows"=>10 );
            if( $Field->is_required=="Y" ) {
              $a[minlength]=1;
              $a[length_e]="Please enter ".$Field->$columnname;
            }
            $form->add_element($a);
            break;
        case "S": //"Single Choice"
            $aoptions=explode("\n",$Field->select_values);
            $a=array(
            "type"=>"select",
            "name"=>"field_".$Field->columnname,
            "value"=>$CurrentRecord->$columnname,
            "options"=>$aoptions,
            "size"=>1);
            if ($Field->is_required=="Y") {
                $a[minlength]=1;
                $a[length_e]="Please enter ".$Field->$columnname;
            }
            $form->add_element($a);
            break;
        case "M": //"Multiple Choice"
            $aoptions=explode("\n",$Field->select_values);
            $a=array(
            "type"=>"select",
            "name"=>"field_".$Field->columnname,
            "value"=>$CurrentRecord->$columnname,
            "options"=>$aoptions,
            "multiple"=>1,
            "size"=>10);
            if ($Field->is_required=="Y") {
                $a[minlength]=1;
                $a[length_e]="Please enter ".$Field->$columnname;
            }
            $form->add_element($a);
            break;
        case "D": //"Date"
            $form->AddDate($Field->columnname, $Field);
            break;
        case "T": //"Time"
            $form->AddTime($Field->columnname, $Field);
            break;
        case "E": //"Email"
            $a=array(
            "type"=>"text",
            "name"=>"field_".$Field->columnname,
            "value"=>$CurrentRecord->$columnname,
            "size"=>40,
            "valid_regex"=>"^[a-zA-Z0-9_\.]+@[a-zA-Z0-9_\-]+\.[a-zA-Z0-9_\-\.]+$",
            "valid_e"=>"Invalid E-mail Address" );
            if ($Field->is_required=="Y") {
                $a[minlength]=1;
                $a[length_e]="Please enter ".$Field->$columnname;
            }
            $form->add_element($a);
            break;
        case "Y": //"YesNo"
            $a=array(
            "type"=>"select",
            "name"=>"field_".$Field->columnname,
            "value"=>$CurrentRecord->$columnname,
            "options"=>YNSelectArray() );
            if( $Field->is_required=="Y") {
              $a[minlength]=1;
              $a[length_e]="Please enter ".$Field->$columnname;
            }
            $form->add_element($a);
            break;
    }

#    print_r($a);
}


// Add user added fields:
$result=DoQuery("SELECT * from contactform WHERE columnname NOT IN($builtin) ORDER BY display_order");
while ($CurrentRecord = mysql_fetch_object($result)) {
    AddCFUserField($CurrentRecord);
}

//if being called from myself, do validation..
if ($Submit) {
    if ($err=$form->validate()) {
        echo $err;
    }
    else {

        $SiteRec = ReadCurrentRecord("sitesetup",site_no,1);
        $userinfo .= "
Username        :$field_username
Company         :$field_company
First           :$field_first
Last            :$field_last
Receive Email?  :$field_receive_email
Addr1           :$field_address1
Addr2           :$field_address2
City            :$field_city
State           :$field_state
Zip             :$field_zip
Country         :$field_country
Phone           :$field_phone
Fax             :$field_fax
IP Address      :$field_ipaddress
                    ";

$userinfo .= "\nSuggestion, comments, and questions:\n$suggestions\n\n";
#$userinfo .= "To view more information about this particular user, click here:\n";
#$userinfo .= SiteField("url") ."/auth_user_edit.dtop?key=".$CurrentRecord->uid . "\n\n";
    mail (
           $SiteRec->custsvc_emailid,
           "Feedback from ".$SiteRec->systemname." website",
           $userinfo,
           "From: ".$field_username. "\n\n"
         );
    }
# TJM if user said yes to receiving emails, send mail
# newsletter issue to be resolved
#    if ($field_receive_email=="Y") {
#        mail (
#               "subscribe@shogyo2.dtopinc.com",
#               "Add to mailing list".$SiteRec->systemname." website",
#               "SUBSCRIBE" . $field_username,
#               "From: ".$field_username. "\n\n"
#             );
#
#    }

}

$systemname = OneSQLValue( "select systemname from contactusoption where contactusoption_no = 1" );
$template_no = OneSQLValue( "select module_template_no from contactusoption where contactusoption_no = 1" );
$header = OneSQLValue( "select contactus_header from contactusoption where contactusoption_no = 1" );

//Begin HTML here
DSBeginpage($header,0,1,$template_no);

if (!$Submit) {

    $form->StartForm("<b>$header</b>","contactus_submit.php");

    if (InstantEdit()) {
        $instantedit="<a href=html.dtop><img src=$DSEDITBUTTON border=0></a>";
    }

#    echo "<tr><td bgcolor=$DSALTCOLDATABG colspan=2>".MergeFields(SiteField("contactushtml"),GetUserId())."$instantedit</td></tr>";
#    echo "<TR><TD COLSPAN=2 BGCOLOR=$DSHEADINGBG><FONT COLOR=$DSHEADINGFG>Your Information</FONT></TD></TR>";
    $form->DrawField("field_username","E-mail Address",1,0,0);
    $form->DrawField("field_receiveupdates","Include on our mailing list ?",0,0,0);

    // Draw user added fields:
    $result=DoQuery("SELECT * from contactform WHERE columnname NOT IN($builtin) ORDER BY display_order");
    while ($CurrentRecord = mysql_fetch_object($result)) {
        DrawCFUserField($CurrentRecord);
    }

    echo "<TR><TD COLSPAN=2 BGCOLOR=$DSHEADINGBG><FONT COLOR=$DSHEADINGFG>Comments and Questions:</FONT></TD></TR>";
    $form->DrawField("suggestions","Comments or Questions:",0,0,0);

#    $jsafter.="return(false);";
    $form->EndForm(!isset($key),$jsafter,$jsbefore);
}
else {
    echo "<table><tr><td colspan=2 bgcolor=$DSALTCOLDATABG><H3>Your comments have been received.</td></tr></table>";

}
// Save data back to database.
DSEndPage(0,0,$template_no);
?>
