<%
########################################################################
# Copyright 2000 Desktop Solutions Software, Inc.
# 631-493-3422
# info@dtopinc.com
# www.dtopinc.com
# usage rights granted for use on a per-project-basis
#########################################################################
# this is put into cron to load data into a table
set_time_limit(3600);   //one hour
require "prepend.php3";
#####
# Params Sent In
# $TABLE - The table import into
# $FILE - The file to send in
# $EMAIL - If set, a confirmation email will be sent to this person
# $DEBUG - If set, output will be to the screen, and status email will be turned off
# $DELIMITER - TAB or COMMA - default is TAB
#####

#####
# How we verify the file and table are correct:
# check for table
# check for file
# make sure file is not empty
# check to make sure # of fields match fields in table, and field names match

if (!strlen($DELIMITER)) {
    $DELIMITER="\t";
    $DELIMWORD="TAB";
}
else
    if (strtoupper($DELIMITER)=="TAB") {
    $DELIMITER="\t";
    $DELIMWORD="TAB";

    }
else
    if (strtoupper($DELIMITER)=="COMMA") {
    $DELIMITER=",";
    $DELIMWORD="COMMA";

    }
else {
    $DELIMITER="\t";
    $DELIMWORD="TAB";
}


$datadir=$_SERVER["DOCUMENT_ROOT"]."/data/";
$FILENAME=$datadir.$FILE;

if ($DEBUG) {
    echo $_SERVER["DOCUMENT_ROOT"];
    echo "<br>$datadir";
    echo "<br>$TABLE";
    echo "<br>$FILE";
    echo "<br>$EMAIL";
    echo "<br>$FILENAME";
}


if (!strlen($TABLE) || !strlen($FILE)) {
    echo "Both Table and File must be set";
    exit();
}

# check if file and table exist

$tables = array();
$tablesResult = mysql_list_tables($DSDATABASE);
while ($row = mysql_fetch_row($tablesResult)) $tables[] = $row[0];
$table_exists = in_array($TABLE, $tables);

if (!$table_exists) {
    echo mysql_error()." - $TABLE doesn't exist";
}


$FILENAME=$datadir.$FILE;

if (!file_exists($FILENAME) || filesize($FILENAME)<=0) {
    echo "<b>$FILENAME</B> does not exist, or it is zero bytes<br>";
    exit();
}


$lastmodstamp = filemtime($FILENAME);
$filemoddate = date("m-d-Y h:i:s",$lastmodstamp);


    if ($DEBUG) {
        echo str_repeat("&nbsp;",1000);
        echo "<h3>Starting...</h3>";
    }
    $open_orders_count=0;


                $linecount=0;
                $file = fopen ("$FILENAME", "r");
                if ($file) {
                    # OK, get eol and line count

                    $contents = fread ($file, filesize ($FILENAME));
                    if (!strlen($contents)) {
                        echo "file $FILENAME contains no data<br>";
                    }

                    $linecount++;

                    if (strstr($contents,"\r\n"))
                        $eol='\r\n';
                    else
                        if (strstr($contents,"\n")) {
                            $eol='\n';
                        }
                    else {
                        $eol='\r';
                    }

                    fclose($file);

                    if (! $file=fopen($FILENAME,"rt")) {
                        echo "Unable to open $FILENAME!";
                        return;
                    }

                    # TJM count the lines in the file
                    if ($DEBUG) {
                        echo "<br>EOL is $eol<br>";
                        echo "Counting Lines<BR>";
                    }

                    while (!feof($file)) {
                        $contents = fgets($file, 16384);
                        if ($DEBUG)
                            echo $contents ."<br>";
                        if (strlen($contents))
                            $linecount++;
                    }

                    fclose($file);
                    if ($DEBUG)
                        echo "Line Count: $linecount<br>";
                }
                else {
                    echo "Error can't open file!\n";
                    exit();
                }

                if (! $fp=fopen($FILENAME,"rt")) {
                    echo "Unable to open $FILENAME!";
                    return;
                }


                $fields = fgets($fp,4096);
                $fieldline = str_replace("\t",",",$fields);
                $fieldline = str_replace(array("\n","\r","\""),"",$fieldline);
                if ($DEBUG) {
                    echo "$fieldline<br>";
                }
                $filefieldnames = explode($DELIMITER,trim(str_replace("\"","",$fields)));
                print_r($myarray);

                # Ok, now check to see that we have the correct fields
                # should have everything but the primary key field
                $result = DoQuery("SHOW KEYS FROM $TABLE");
                $primary = "";
                while ($row = mysql_fetch_array($result))
                  if ($row["Key_name"] == "PRIMARY")
                     $primary .= "$row[Column_name]";

                $tablefields = array();
                echo "<br>";
                $return=DoQuery("SHOW FIELDS FROM $TABLE");
                while ($Data=mysql_fetch_object($return)) {
                    if ($Data->Field <> $primary) {
                        array_push( $tablefields, $Data->Field );
                        if ($DEBUG)
                            echo "&nbsp;&nbsp;&nbsp;$Data->Field<BR>";
                    }
                }


            # Make sure all file fields are in table fields
            # this may get changed to the reverse
#            $diffarray = array_diff($tablefields,$filefieldnames);
            $diffarray = array_diff($filefieldnames,$tablefields);


            if ($DEBUG) {
                print_r($tablefields);
                echo "filefields=";
                print_r($filefieldnames);
                echo "diffarray=";
                print_r($diffarray);
                echo "count=".count($diffarray);
            }

            if (count($diffarray)) {
                echo "Field count doesn't match";
                exit();
            }


            # Ok, we got here, so things check out
            # Delete the previous records, and import the new
            if ($DEBUG) {
                $DSDEBUG=1;
            }
            DoQuery("DELETE FROM $TABLE");

            DoQuery("LOAD DATA INFILE '$FILENAME' REPLACE INTO TABLE $TABLE FIELDS OPTIONALLY ENCLOSED BY '\"' TERMINATED BY '$DELIMITER' LINES TERMINATED BY '$eol' ($fieldline)");
#            $addstatus = mysql_info(); //not yet! :-(

            $recordcount=OneSQLValue("SELECT count(*) AS c FROM $TABLE");

#            $mailmsg.=$FILENAME."\tSize: ".filesize($FILENAME)."\t"."last mod date: $filemoddate\tStatus of Upload $addstatus\n";
            $statusinfo.="File: $FILE"."\tFile Size: ".filesize($FILENAME)."\t"."Lines: $linecount\tEOL: $eol\tDelimiter: $DELIMWORD\tFile last mod date: $filemoddate\tRecords In Table: $recordcount\tEmail: $EMAIL\n";
            $statusinfo.=mysql_error();

            $fp = fopen ("/tmp/lastimport_".$_SERVER['HTTP_HOST'], "w");
            if ($fp) {
                fwrite($fp,$statusinfo);
                fclose($fp);
            }


            if (strlen($EMAIL)) {
                mail($EMAIL,$_SERVER['HTTP_HOST']." Import Status of Table $TABLE on ".date("Y-m-d h:i:s"),str_replace("\t","\n",$statusinfo),"From: root@desktopmodules.com\n");
            }
%>
