<?php
require("prepend.php3");
#$DSDEBUG=1;
$template_no = OneSQLValue( "select template_no from faqoption where faqoption_no = 1" );
$systemname = OneSQLValue( "select systemname from faqoption where faqoption_no = 1" );
DSBeginPage($systemname,0,1,$template_no);

echo <<<END
<FORM action="faqsearch.php" method="post">
<b>Search:</b><br>
<input type="text" name="searchstring" size="48"> <input type="submit" value="Go"><br>
<a href="faqbrowse.html"><b>Browse...</b></a><br>
</FORM>
END;

DSEndPage(0,0,$template_no);
?>
