<?php
require("prepend.php3");
#$DSDEBUG=1;
$template_no = OneSQLValue( "select template_no from faqoption where faqoption_no = 1" );
$systemname = OneSQLValue( "select systemname from faqoption where faqoption_no = 1" );
DSBeginPage($systemname,0,1,$template_no);

if( empty( $category_no ) && empty( $subcategory_no ) )
{
  echo <<<END
<b>FAQ Categories:</b><p>
END;
  
  $result = mysql_query( "select faq_category_no, faq_category from faq_category order by faq_category asc" );
  
  $counter = 0;
  
  while( $row = mysql_fetch_row( $result ) )
  {
    $counter++;
    
    echo <<<END
<b>$counter.</b> <a href="faqbrowse.html?category_no=$row[0]"><b>$row[1]</b></a><br>
END;
  }
  
  if( $counter == 0 )
  {
    echo <<<END
<i>No Categories Found</i><p>
END;
  }
}
elseif( !empty( $category_no ) )
{
  $cat = OneSQLValue( "select faq_category from faq_category where faq_category_no = $category_no" );
  
  echo <<<END
<b>$cat Sub-Categories:</b><p>
END;

  $result = mysql_query( "select faq_subcategory_no, faq_subcategory from faq_subcategory where faq_category_no = $category_no order by faq_subcategory asc" );
  
  $counter = 0;
  
  while( $row = mysql_fetch_row( $result ) )
  {
    $counter++;
    
    echo <<<END
<b>$counter.</b> <a href="faqbrowse.html?subcategory_no=$row[0]"><b>$row[1]</b></a><br>
END;
  }
  
  if( $counter == 0 )
  {
    echo <<<END
<i>No Sub-Categories Found</i><p>
END;
  }
}
elseif( !empty( $subcategory_no ) )
{
  $catno = OneSQLValue( "select faq_category_no from faq_subcategory where faq_subcategory_no = $subcategory_no" );
  $cat = OneSQLValue( "select faq_category from faq_category where faq_category_no = $catno" );
  $subcat = OneSQLValue( "select faq_subcategory from faq_subcategory where faq_subcategory_no = $subcategory_no" );
  
  echo <<<END
<b>$cat >> $subcat:</b><p>
END;

  $result = mysql_query( "select * from faq where faq_subcategory_no = $subcategory_no" );
  
  $counter = 0;
  
  while( $row = mysql_fetch_assoc( $result ) )
  {
    $counter++;
    
    $key = $row["faq_no"];
    $title = $row["title"];
    
    echo <<<END
<b>$counter.</b> <a href="faqdetail.html?key=$key">$title</a><br>
END;
  }
  
  if( $counter == 0 )
  {
    echo <<<END
<i>No Questions Found</i><p>
END;
  }
}

echo <<<END
<p>&nbsp;<p><a href="faq.html">Return to FAQ Search Page</a><br>
END;

DSEndPage(0,0,$template_no);
?>