<?php
require("prepend.php3");
$CurrentRecord=ReadCurrentRecord("faq","faq_no",$key);

$systemname = OneSQLValue( "select systemname from faqoption where faqoption_no = 1" );
$template_no = OneSQLValue( "select template_no from faqoption where faqoption_no = 1" );

$subcategory = OneSQLValue( "select faq_subcategory from faq_subcategory where faq_subcategory_no = '" . $CurrentRecord->faq_subcategory_no . "'" );
$category_no = OneSQLValue( "select faq_category_no from faq_subcategory where faq_subcategory_no = '" . $CurrentRecord->faq_subcategory_no . "'" );
$category = OneSQLValue( "select faq_category from faq_category where faq_category_no = '$category_no'" );

$category = strtoupper( $category );
$subcategory = strtoupper( $subcategory );

DSBeginPage("$CurrentRecord->title",0,1,$template_no);
if (strlen($back)) {
    $goback="<A href=javascript:history.go(-1);>Back to list";
}
echo <<<END
<TABLE WIDTH=$DSTABLEWIDTH CELLPADDING=$DSTABLECELLPADDING CELLSPACING=$DSTABLECELLSPACING BGCOLOR=$DSWINDOWBG>
<TR><TD BGCOLOR=$DSHEADINGBG VALIGN=TOP><FONT COLOR=$DSHEADINGFG><b>$CurrentRecord->title</b></FONT><FONT COLOR=$DSHEADINGFG SIZE=1><br>$category > $subcategory</FONT></TD>
    <TD BGCOLOR=$DSHEADINGBG align=right>
    <font size=1>
    <a href=printfriendly.html?key=$key&tablename=faq&keyfield=faq_no&textfield=html_text>Print version<img align=absmiddle src=images/printicon_small.gif ALT=\"Print Friendly Version\" border=0></a><BR>
    </font>
    </TD>
</TR>
<TR><TD COLSPAN=2 HEIGHT=200 VALIGN=TOP>$CurrentRecord->html_text</TD></TR>

<TR><TD COLSPAN=2 BGCOLOR=$DSHEADINGBG><a href="faquserpost.html?faq_no=$key"><b>Post Feedback</b></a><p><H3><FONT COLOR=$DSHEADINGFG>&nbsp;$goback</FONT></TD></TR>
</TABLE><p>
END;

$result = mysql_query( "select * from faq_userposts where faq_no = $key and active = 'Y'" );

while( $row = mysql_fetch_assoc( $result ) )
{
  $title = $row["title"];
  $text = $row["html_text"];

  echo <<<END
<TABLE WIDTH=$DSTABLEWIDTH CELLPADDING=$DSTABLECELLPADDING CELLSPACING=$DSTABLECELLSPACING BGCOLOR=$DSWINDOWBG>
  <tr>
    <td bgcolor=$DSHEADINGBG VALIGN=TOP>
      <FONT COLOR=$DSHEADINGFG><b>$title</b></FONT>
    </td>
  </tr>
  <tr>
    <td VALIGN=TOP>
      $text
    </td>
  </tr>
</TABLE><p>

END;
}

echo "<BR><center><A href=faq.html>".$systemname."</a></center>";
if (InstantEdit()) {
    echo "<a href=faq_edit.dtop?key=$CurrentRecord->faq_no><img src=$DSEDITBUTTON border=0></a>";
}
DSEndPage(0,0,$template_no);
?>
