<%
########################################################################
# Copyright 2001 Desktop Solutions Software, Inc.
# 631-493-3422
# info@dtopinc.com
# www.dtopinc.com
# usage rights granted for use on a per-project-basis
#########################################################################
require ("prepend.php3");
  page_open(
  array("sess" => "DS_Session"
#  ,"auth" => "DS_Auth"
#  ,"perm" => "DS_Perm"
  ));

DSBeginPage();
$SiteRec = ReadCurrentRecord("sitesetup","site_no",1);

#while (list($key,$val) = each($HTTP_POST_VARS) ) {
#    echo "$key $val<br>";
#}

if ( isset($submit) && strlen($email) ) {
    if (OneSQLValue(
        "SELECT 1 from auth_user where username = '$email' AND active='Y'")){
        $result=DoQuery("
                select decode(password,'$libpath') as pw
                        from auth_user where username='$email'");
        $p=mysql_fetch_object($result);
        $pw = $p->pw;
        $pwinfo = "\nUserId (Email): $email\nPassword: $pw\n";

        SendEmail(
                $SiteRec->email_forgotpassword . $pwinfo,
                $email,
                $SiteRec->systemname. " information"
            );

        echo "<h4>Thanks!</h4>Your password has been mailed to your email account.";
    }
    else {
        echo "<h4>We did not find <b>$email</b> in our system.</h4>Please <a href=javascript:history.back(1)>try again</a>, or call us at $SiteRec->phone.";
    }

}
else {
    echo "
    <form method=POST action=$PHP_SELF>
    <TABLE WIDTH=$DSTABLEWIDTH BGCOLOR=$DSWINDOWBG CELLSPACING=$DSTABLECELLSPACING CELLPADDING=$DSTABLECELLPADDING>
    <TR><TD COLSPAN=2 BGCOLOR=$DSHEADINGBG><FONT COLOR=$DSHEADINGFG>$SiteRec->htmlforgotpassword</TD></TR>
    <tr><td>Your Email ID:</td><td><input type=text size=40 name=email></td></tr>
    <tr><td><td align=right><input type=submit name=submit value=submit>
    </table>
    </form>
    ";
}
#page_close();
DSEndPage();
%>
