<%
########################################################################
# Copyright 2000 Desktop Solutions Software, Inc.
# 631-493-3422
# info@dtopinc.com
# www.dtopinc.com
# usage rights granted for use on a per-project-basis
#########################################################################
# $Id: load_invoice.html,v 1.1 2002/11/05 21:03:19 tom Exp $
    require "prepend.php3";
set_time_limit(3600);   //one hour
$SUPERDEBUG=0;

    echo str_repeat("&nbsp;",1000);

    if (strstr($HTTP_HOST,"lserv1")) {
        $PATH = "/home/wwwroot/lawrencemetal/data/";
#        $PATH = "/home/tom/lmp";
#        $FILE = "WEBOPFP.CSV";
#        $FILE = "invoice.csv";
    }
    else {
        $PATH = "/home/uploadfiles/";
#        $FILE = "WEBOPFP.CSV";
    }

#    $FILENAME = $PATH."/".$FILE;


    $header_query="INSERT INTO order_header (invoice_num, invoice_date, sold_to_name, sold_to_addr3, sold_to_addr1, sold_to_addr2, sold_to_addr4,ship_to_name, ship_to_addr3, ship_to_addr1, ship_to_addr2, ship_to_addr4,invoice_notes, customer_num, ship_via, shop_order_num, sls_num, customer_po_num, terms, freight_total, sales_subtotal, trade_discount, misc_charges, taxes, tax,invoice_total) VALUES ";
    $detail_query="INSERT INTO order_detail (order_num, item_num, item_description, unit, quantity, unit_price, extended_price) VALUES ";

    $shipping_counter=0;
    $shipping_desc_array=array();
    $shipping_amt_array=array();
    $line_item_notes_array=array();
    $invoice_counter=0;
#    $DSDEBUG=1;
    $files = CheckOrderStatusFiles("INVOICE",$PATH);
#    print_r($files);
#    exit();


    if (count($files)) {

        for ($i=0;$i<count($files);$i++) {
            $FILENAME = $PATH.$files[$i];

            if (file_exists($FILENAME) && filesize($FILENAME)>0) {
                $counter=0;
                $fp = fopen ("$FILENAME", "r");
                $invoice_num="";
                if ($fp) {
                    if ($i==0) {
                        $delq = "DELETE FROM order_detail";
                        DoQuery($delq);
                        $delq = "DELETE FROM order_header";
                        DoQuery($delq);

                    }
                }
                else {
                    echo "Error can't open file!\n";
                    exit();
                }

                while(!feof($fp)) {
                    $buffer = fgets($fp,4096);
                    if ($SUPERDEBUG)
                        echo "Line Read:&nbsp;&nbsp;".$buffer . "<br>";

                    $invoice_num_temp = trim(substr($buffer,1,7));
                    (strstr($invoice_num_temp,"C"))?$invoice=0:$invoice=1;

                    $data=substr($buffer,26,109);
                    $last_rec_type = $rec_type;
                    $rec_type = substr($buffer,18,4);
                    if ($SUPERDEBUG)
                        echo "$rec_type<br>";

                    if ($counter==0)
                        $invoice_num = $invoice_num_temp;


                    if ($invoice_num == $invoice_num_temp) {


                            if (!$invoice) {

                                //logic specific to open orders (like the line item notes) goes here


                                switch($rec_type) {
                                    //open order codes

                                    case "0130":
                                        $item_num = trim(substr($data,1,17));
                                        $item_desc = trim(substr($data,18,31))."\n";
                                        $item_unit = trim(substr($data,49,10));
                                        $item_quant = trim(substr($data,59,16));    //decremented by 4
                                        $item_cost = trim(substr($data,75,15));
                                        $item_total = trim(substr($data,90,15));
                                        if ($SUPERDEBUG)
                                            echo $item_num."&nbsp;".$item_desc."&nbsp;".$item_unit."&nbsp;".$item_quant."&nbsp;".$item_cost."&nbsp;".$item_total."\n<br>";

                                        $odq = $detail_query."('".addslashes($invoice_num_temp)."','".addslashes($item_num)."','".addslashes($item_desc)."','".addslashes($item_unit)."','".addslashes($item_quant)."','".addslashes($item_cost)."','".addslashes($item_total)."')";
                                        if ($SUPERDEBUG)
                                            echo $odq."<br>";
                                        DoQuery($odq);

                                        $detailkey = mysql_insert_id();

                                        break;

                                    case "0135":
                                        //do nothing

                                        break;


                                    case "0040":
                                        //sold to, ship to name
        #                                $sold_to_name = substr(trim($data),0,46);
        #                                $ship_to_name= substr(trim($data),47);
                                        $sold_to_name = trim(substr($data,0,46));
                                        $ship_to_name= trim(substr($data,47));

                                        if ($SUPERDEBUG)
                                            echo "sold to: $sold_to_name ship to: $ship_to_name<br>";


                                        break;

                                    case "0050":
                                        //sold to addr1, ship to addr1
        #                                $sold_to_addr1 = substr(trim($data),0,46);
        #                                $ship_to_addr1= substr(trim($data),47);
                                        $sold_to_addr1 = trim(substr($data,0,46));
                                        $ship_to_addr1= trim(substr($data,47));

                                        if ($SUPERDEBUG)
                                            echo "sold to addr1: $sold_to_addr1 ship to addr1: $ship_to_addr1<br>";


                                        break;

                                    case "0060":
                                        //sold to addr2, ship to addr2
        #                                $sold_to_addr2 = substr(trim($data),0,46);
        #                                $ship_to_addr2= substr(trim($data),47);
                                        $sold_to_addr2 = trim(substr($data,0,46));
                                        $ship_to_addr2= trim(substr($data,47));

                                        if ($SUPERDEBUG)
                                            echo "sold to addr2: $sold_to_addr2 ship to addr2: $ship_to_addr2<br>";


                                        break;

                                    case "0070":
                                        //sold to addr3, ship to addr3
        #                                $sold_to_addr3 = substr(trim($data),0,46);
        #                                $ship_to_addr3= substr(trim($data),47);
                                        $sold_to_addr3 = trim(substr($data,0,46));
                                        $ship_to_addr3= trim(substr($data,47));

                                        if ($SUPERDEBUG)
                                            echo "sold to addr3: $sold_to_addr3 ship to addr3: $ship_to_addr3<br>";


                                        break;

                                    case "0075":    //fourth line
                                        //sold to addr4, ship to addr4
                                        $sold_to_addr4 = trim(substr($data,0,46));
                                        $ship_to_addr4= trim(substr($data,47));

                                        if ($SUPERDEBUG)
                                            echo "sold to addr3: $sold_to_addr3 ship to addr3: $ship_to_addr3<br>";


                                        break;
                                    case "0080":
                                        //customer no, ship via, date, sls, customer po, terms
                                        $customer_num = trim(substr($data,1,11));
                                        $ship_via = trim(substr($data,12,30));
                                        $invoice_date = trim(substr($data,42,9));
                                        $sls_num = trim(substr($data,51,9));
                                        $customer_po = trim(substr($data,60,23));
                                        $inv_terms = trim(substr($data,83,25));

                                        if ($SUPERDEBUG)
                                            echo $customer_num."&nbsp;".$ship_via."&nbsp;".$invoice_date."&nbsp;".$sls_num."&nbsp;".$customer_po."&nbsp;".$inv_terms."\n<br>";
                                        break;


                                    case "0090":
                                        //invoice notes
                                        $invoice_notes.= trim($data)."\n";
                                        if ($SUPERDEBUG)
                                            echo trim($data)."<br>";
                                        break;

                                    case "0100":
                                        //invoice notes
                                        $invoice_notes.= trim($data)."\n";
                                        if ($SUPERDEBUG)
                                            echo trim($data)."<br>";

                                        break;

                                    case "0110":
                                        //invoice notes
                                        $invoice_notes.= trim($data)."\n";

                                        if ($SUPERDEBUG)
                                            echo trim($data)."<br>";

                                        break;

                                    case "0160":
                                    case "0170":
                                    case "0180":
                                        //line item notes
                                        if (strlen(trim($data))) {
                                           //stick desc in with previous ship item
                                           $itemupdate = "UPDATE order_detail SET item_description=CONCAT(item_description,'\n','".addslashes(trim($data))."') WHERE order_detail_no=$detailkey";
                                           DoQuery($itemupdate);

                                        }

                                        break;

                                    case "0210":
                                        //shipping line
                                        if (strlen(trim($data))) {
                                            //ok, there is data on this line, so there is at least a desc.
                                            // Lets determine if there is both a desc and amt.
                                            $mydesc=trim(substr($data,0,89));
                                            $myamt=trim(substr($data,90));
                                            if ((strlen($mydesc) && strlen($myamt)) || !$lastshipkey) {
                                                $shipinsert = $detail_query."('".addslashes($invoice_num_temp)."','','".addslashes($mydesc)."','','','','".addslashes($myamt)."')";
                                                DoQuery($shipinsert);
                                                $lastshipkey = mysql_insert_id();
                                            }
                                            else {
                                                if ($lastshipkey) {
                                                    //stick desc in with previous ship item
                                                    $shipupdate = "UPDATE order_detail SET item_description=CONCAT(item_description,'\n','".addslashes($mydesc)."\n"."') WHERE order_detail_no=$lastshipkey";

                                                    if ($SUPERDEBUG)
                                                       echo "got here! ". $shipupdate."<br>";

                                                    DoQuery($shipupdate);
                                                }

                                            }

                                        }

                                         $mydesc="";
                                         $myamt="";


                                        break;


                                    case "0240":
                                        //order header, total numbers
                                        if (strstr($data,"MISC.CHARGES")) {
                                            $misc_charges = trim(str_replace("MISC.CHARGES","",$data));
                                            if ($SUPERDEBUG)
                                                echo "MISC.CHARGES ".$misc_charges."<br>";
                                        }
                                        else
                                        if (strstr($data,"SALES SUBTOTAL")) {
                                            $sales_subtotal = trim(str_replace("SALES SUBTOTAL","",$data));
                                            if ($SUPERDEBUG)
                                                echo "SALES SUBTOTAL ".$sales_subtotal."<br>";
                                        }
                                        else
                                        if (strstr($data,"TAXES")) {
                                            $taxes= trim(str_replace("TAXES","",$data));
                                            if ($SUPERDEBUG)
                                                echo "TAXES ".$taxes."<br>";
                                        }
                                        else
                                        if (strstr($data,"TRADE DISCOUNT")) {
                                            $trade_discount = trim(str_replace("TRADE DISCOUNT","",$data));
                                            if ($SUPERDEBUG)
                                                echo "TRADE DISCOUNT ".$trade_discount."<br>";
                                        }
                                        else {
                                            $invoice_total= trim(str_replace("ORDER TOTAL","",$data));
                                            if ($SUPERDEBUG)
                                                echo "INVOICE TOTAL ".$invoice_total."<br>";
                                        }

                                        break;



                                }
                            }
                            else {

                                //logic specific to invoices (like the line item notes) goes here

                                switch($rec_type) {
                                    //invoice codes

                                    case "F010":
                    #                    echo $data."\n<br>";
                                        $item_num = trim(substr($data,0,15));   //ONE CHAR OFF IN INVOICES
                                        $item_desc = trim(substr($data,16,31));
                                        $item_unit = trim(substr($data,48,10));
                                        $item_quant = trim(substr($data,58,20));
                                        $item_cost = trim(substr($data,78,15));
                                        $item_total = trim(substr($data,93,15));
                                        if ($SUPERDEBUG)
                                            echo $item_num."&nbsp;".$item_desc."&nbsp;".$item_unit."&nbsp;".$item_quant."&nbsp;".$item_cost."&nbsp;".$item_total."\n<br>";


                                        $odq = $detail_query."('".addslashes($invoice_num_temp)."','".addslashes($item_num)."','".addslashes($item_desc)."','".addslashes($item_unit)."','".addslashes($item_quant)."','".addslashes($item_cost)."','".addslashes($item_total)."')";
                                        if ($SUPERDEBUG)
                                            echo $odq."<br>";
                                        DoQuery($odq);
                                        $detailkey = mysql_insert_id();

                                        break;

                                    case "X020":
                                        //returned message
                                        $shipping_desc_array[$shipping_counter]="    R - RETURNED ADJUSTMENT\n";
                                        $shipping_counter++;

                                        break;

                                    case "X010":
                                        //allowance
                                        $shipping_desc_array[$shipping_counter]="    A - ALLOWANCE ADJUSTMENT\n";
                                        $shipping_counter++;

                                        break;

                                    case "X030":
                                        //do nothing

                                        break;


                                    case "C020":
                                        //invoice date
                                        $invoice_date = trim($data);

                                        break;

                                    case "C030":
                                        //sold to, ship to name
                                        $sold_to_name = substr(trim($data),0,46);
                                        $ship_to_name= substr(trim($data),47);
                                        if ($SUPERDEBUG)
                                            echo "sold to: $sold_to_name ship to: $ship_to_name<br>";


                                        break;

                                    case "C040":
                                        //sold to addr1, ship to addr1
                                        $sold_to_addr1 = trim(substr($data,0,46));
                                        $ship_to_addr1= trim(substr($data,47));
                                        if ($SUPERDEBUG)
                                            echo "sold to addr1: $sold_to_addr1 ship to addr1: $ship_to_addr1<br>";


                                        break;

                                    case "C050":
                                        //sold to addr2, ship to addr2
                                        $sold_to_addr2 = trim(substr($data,0,46));
        #                                $ship_to_addr2= substr(trim($data),47);
                                        $ship_to_addr2= trim(substr($data,47));
                                        if ($SUPERDEBUG)
                                            echo "sold to addr2: $sold_to_addr2 ship to addr2: $ship_to_addr2<br>";


                                        break;

                                    case "C060":
                                        //sold to addr3, ship to addr3
                                        $sold_to_addr3 = trim(substr($data,0,46));
                                        $ship_to_addr3= trim(substr($data,47));
                                        if ($SUPERDEBUG)
                                            echo "sold to addr3: $sold_to_addr3 ship to addr3: $ship_to_addr3<br>";


                                        break;

                                    case "C070":
                                        //sold to addr4, ship to addr4
                                        $sold_to_addr4 = trim(substr($data,0,46));
                                        $ship_to_addr4= trim(substr($data,47));
                                        if ($SUPERDEBUG)
                                            echo "sold to addr4: $sold_to_addr4 ship to addr4: $ship_to_addr4<br>";


                                        break;

                                    case "C080":
                                        //ship via, date, sls, customer po, terms
                                        $customer_num = trim(substr($data,0,11));
                                        $ship_via = trim(substr($data,12,30));
                                        $shop_order_num = trim(substr($data,42,9));
                                        $sls_num = trim(substr($data,51,7));
                                        $customer_po = trim(substr($data,59,21));
                                        $inv_terms = trim(substr($data,80,25));

                                        if ($SUPERDEBUG)
                                            echo $customer_num."&nbsp;".$ship_via."&nbsp;".$shopordernum."&nbsp;".$sls_num."&nbsp;".$customer_po."&nbsp;".$inv_terms."\n<br>";

                                        break;


                                    case "E012":
                                        //invoice notes
                                        $invoice_notes.= trim($data)."\n";
                                         if ($SUPERDEBUG)
                                            echo trim($data)."<br>";
                                        break;

                                    case "E010":
                                        //invoice notes
                                        $invoice_notes.= trim($data)."\n";
                                            if ($SUPERDEBUG)
                                                echo trim($data)."<br>";

                                        break;

                                    case "E011":
                                        //invoice notes
                                        $invoice_notes.= trim($data)."\n";
                                            if ($SUPERDEBUG)
                                                echo trim($data)."<br>";

                                        break;

                                    case "I010":
                                        //line item notes

                                        if (strlen(trim($data))) {
                                            $line_item_notes_array[$line_item_notes_counter]=trim($data);

                                            if ($SUPERDEBUG) {
                                                echo "<b>line item notes</b>: ";
                                                echo $line_item_notes_array[$line_item_notes_counter];
                                                echo "<br>";
                                            }
                                            $line_item_notes_counter++;
                                        }


                                        if ($SUPERDEBUG)
                                            echo trim($data)."<br>";
                                        break;

                                    case "I011":
                                        //line item notes

                                        if (strlen(trim($data))) {
                                            $line_item_notes_array[$line_item_notes_counter]=trim($data);
                                            if ($SUPERDEBUG) {
                                                echo "<b>line item notes</b>: ";
                                                echo $line_item_notes_array[$line_item_notes_counter];
                                                echo "<br>";
                                            }
                                            $line_item_notes_counter++;
                                        }


                                        break;

                                    case "I012":
                                        //line item notes

                                        if (strlen(trim($data))) {
                                            $line_item_notes_array[$line_item_notes_counter]=trim($data);
                                            if ($SUPERDEBUG) {
                                                echo "<b>line item notes</b>: ";
                                                echo $line_item_notes_array[$line_item_notes_counter];
                                                echo "<br>";
                                            }
                                            $line_item_notes_counter++;
                                        }

                                        break;

                                    case "J010":
                                        //shipping notes
                                        if (strlen(trim($data))) {
                                            //ok, there is data on this line, so there is at least a desc.
                                            // Lets determine if there is both a desc and amt.
                                            $mydesc=trim(substr($data,0,89));
                                            $myamt=trim(substr($data,90));
                                            if ((strlen($mydesc) && strlen($myamt)) || !$lastshipkey) {
                                                $shipinsert = $detail_query."('".addslashes($invoice_num_temp)."','','".addslashes($mydesc)."','','','','".addslashes($myamt)."')";
                                                DoQuery($shipinsert);
                                                $lastshipkey = mysql_insert_id();
                                            }
                                            else {
                                                if ($lastshipkey) {
                                                    //stick desc in with previous ship item
                                                    $shipupdate = "UPDATE order_detail SET item_description=CONCAT(item_description,'\n','".addslashes($mydesc)."\n"."') WHERE order_detail_no=$lastshipkey";
                                                    DoQuery($shipupdate);
                                                }

                                            }

                                        }

                                         $mydesc="";
                                         $myamt="";

                                        break;


                                    case "X040":
                                        //total freight
                                            $total_freight= trim(str_replace("TOTAL FREIGHT","",$data));
                                            if ($SUPERDEBUG)
                                                echo "TOTAL FREIGHT: $total_freight<br>";
                                        break;

                                    case "X090":
                                        //misc charges, according to printout
                                            $misc_charges= trim(str_replace("MISC.CHARGES","",$data));
                                            if ($SUPERDEBUG)
                                                echo "MISC. CHARGES: $misc_charges<br>";

                                        break;

                                    case "X110":
                                            $sales_subtotal= trim(str_replace("SALES SUBTOTAL","",$data));
                                            if ($SUPERDEBUG)
                                                echo "SALES SUBTOTAL: $sales_subtotal<br>";
                                         break;

                                    case "X050":

                                            $tax= trim(str_replace("TAX","",$data));
                                            if ($SUPERDEBUG)
                                                echo "TAX: $tax<br>";
                                         break;

                                    case "X120":

                                            $taxes = trim(str_replace("TAXES","",$data));
                                            if ($SUPERDEBUG)
                                                echo "TAXES: $taxes<br>";
                                         break;

                                    case "X130":
                                            $trade_discount= trim(str_replace("TRADE DISCOUNT","",$data));
                                            if ($SUPERDEBUG)
                                                echo "TRADE DISCOUNT: $trade_discount<br>";
                                         break;


                                    case "X100":
                                            $invoice_total= trim(str_replace("INVOICE TOTAL","",$data));
                                            if ($SUPERDEBUG)
                                                echo "INVOICE TOTAL: $invoice_total<br>";
                                        break;

                                }

                            }


                    }
                    else {
                        # insert into db

                        $hq = $header_query."('".addslashes($invoice_num)."','".addslashes($invoice_date)."','".addslashes($sold_to_name)."','".addslashes($sold_to_addr3)."','".addslashes($sold_to_addr1)."','".addslashes($sold_to_addr2)."','".addslashes($sold_to_addr4)."','".addslashes($ship_to_name)."','".addslashes($ship_to_addr3)."','".addslashes($ship_to_addr1)."','".addslashes($ship_to_addr2)."','".addslashes($ship_to_addr4)."','".addslashes($invoice_notes)."','".addslashes($customer_num)."','".addslashes($ship_via)."','".addslashes($shop_order_num)."','".addslashes($sls_num)."','".addslashes($customer_po)."','".addslashes($inv_terms)."','".addslashes($total_freight)."','".addslashes($sales_subtotal)."','".addslashes($trade_discount)."','".addslashes($misc_charges)."','".addslashes($taxes)."','".addslashes($tax)."','".addslashes($invoice_total)."')";
                        if ($SUPERDEBUG)
                            echo "$hq<br>";
                        DoQuery($hq);
                        $invoice_counter++;
                        if ($SUPERDEBUG) {
                            echo "Order # ".$invoice_num;
                            echo "<h3>============= New Invoice ==============</h3>";
                        }

                        echo "$invoice_num loaded.";
                        //now reset vars
                        $invoice_num = $invoice_num_temp;
                        $data="";
                        $invoice_notes="";
                        $shipping_counter=0;
                        $line_item_notes_counter=0;

                        $misc_charges = "";
                        $sales_subtotal = "";
                        $taxes= "";
                        $tax= "";
                        $total_freight= "";
                        $trade_discount = "";
                        $invoice_total= "";


                        $order_detail_field_list="";
                        $order_header_field_list="";

#                        for ($i=0;$i<count($shipping_desc_array);$i++) {
#                            $shipping_desc_array[$i]="";
#                        }
#                        for ($i=0;$i<count($shipping_amt_array);$i++) {
#                            $shipping_amt_array[$i]="";
#                        }
#                        for ($i=0;$i<count($line_item_notes_array);$i++) {
#                            $line_item_notes_array[$i]="";
#                        }


#                        echo "got here again!";

                        $lastshipkey=0;

                        $item_num="";
                        $item_desc="";
                        $item_unit="";
                        $item_quant="";
                        $item_cost="";
                        $item_total="";
                        $sls_num="";
                        $customer_po="";
                        $customer_num="";
                        $ship_via="";
                        $invoice_date="";
                        $sold_to_name="";
                        $sold_to_addr1="";
                        $sold_to_addr2="";
                        $sold_to_addr3="";
                        $sold_to_addr4="";

                        $ship_to_name="";
                        $ship_to_addr1="";
                        $ship_to_addr2="";
                        $ship_to_addr3="";
                        $ship_to_addr4="";
                        $invoice_notes="";

                    }

                    $counter++;
                }

                fclose($fp);
                echo "Success!  $counter lines read, $invoice_counter invoices loaded.";
#                mail("tom@desktopsolutions.com","$invoice_counter Invoices Loaded on LMP","$counter lines read","From: webserver@lawrencmetal.com\n");
                $total_invoices+=$invoice_counter;
                $total_lines+=$counter;
                $counter=0;

                $mailmsg.=$files[$i]." - "."$invoice_counter invoices loaded.\n";
                $invoice_counter=0;
            }
        }

                mail("tom@desktopsolutions.com","$total_invoices Invoices Loaded on LMP","$mailmsg","From: webserver@lawrencmetal.com\n");
    }
    else {
        echo "File not found, or it is zero bytes.";


    }

%>
