<?php
########################################################################
# Copyright 2001 Desktop Solutions Software, Inc.
# 631-493-3422
# info@desktopsolutions.com
# www.desktopsolutions.com
# usage rights granted for use on a per-project-basis
#########################################################################
require ("prepend.php3");
page_open(
array("sess" => "DS_Session",
"auth" => "DS_Auth",
"perm" => "DS_Perm"));
#########################################################################
# merge_fields.html - listing of available merge fields

DSBeginpage();
if (HasPermissions("admin")) {
?>
<table border=1 cellspacing=0 cellpadding=4 width=100%>
<tr><td><b>Type This </b></td><td> <b>To do this:</b></td></tr>
<tr><td colspan=2># billing information - from user record</td></tr>
<tr><td>#firstname#</td><td>first</td></tr>
<tr><td>#lastname#</td><td>last</td></tr>
<tr><td>#billaddress1#</td><td>billaddress1</td></tr>
<tr><td>#billaddress2#</td><td>billaddress2</td></tr>
<tr><td>#billcity#</td><td>billcity</td></tr>
<tr><td>#billstate#</td><td>billstate</td></tr>
<tr><td>#billzip#</td><td>billzip</td></tr>
<tr><td>#billcountry#</td><td>billcountry</td></tr>
<tr><td>#billphone#</td><td>billphone</td></tr>
<tr><td>#billfax#</td><td>billfax</td></tr>

<tr><td colspan=2># shipping info - from list</td></tr>
<tr><td>#shipname#</td><td>shipname</td></tr>
<tr><td>#shipaddress1#</td><td>shipaddress1</td></tr>
<tr><td>#shipaddress2#</td><td>shipaddress2</td></tr>
<tr><td>#shipcity#</td><td>shipcity</td></tr>
<tr><td>#shipstate#</td><td>shipstate</td></tr>
<tr><td>#shipzip#</td><td>shipzip</td></tr>
<tr><td>#shipcountry#</td><td>shipcountry</td></tr>
<tr><td>#shipphone#</td><td>shipphone</td></tr>
<tr><td>#shipfax#</td><td>shipfax</td></tr>

<tr><td colspan=2># company info - from sitesetup</td></tr>
<tr><td>#companyname#</td><td>companyname</td></tr>
<tr><td>#address1#</td><td>address1</td></tr>
<tr><td>#address2#</td><td>address2</td></tr>
<tr><td>#city#</td><td>city</td></tr>
<tr><td>#state#</td><td>state</td></tr>
<tr><td>#zip#</td><td>zip</td></tr>
<tr><td>#country#</td><td>country</td></tr>
<tr><td>#phone#</td><td>phone</td></tr>
<tr><td>#fax#</td><td>fax</td></tr>


<tr><td colspan=2 align=center><b>Specials HTML</b></td></tr>
<tr><td>#image# </td><td> insert the image name into the html</td></tr>
<tr><td>#itemnum# </td><td> insert the item number into the html</td></tr>
<tr><td>#description# </td><td> insert the description into the html</td></tr>
<tr><td>#link# </td><td> insert the link to the specific product into the html</td></tr>


<tr><td colspan=2 align=center><b>Upsell HTML</b></td></tr>
<tr><td>#itemnum# </td><td>Print the itemnum</td></tr>
<tr><td>#upsell1# </td><td>Insert a link to upsell #1</td></tr>
<tr><td>#image1# </td><td>Insert the image of upsell #1</td></tr>
<tr><td>#upsell2# </td><td>Insert a link to upsell #2</td></tr>
<tr><td>#image2# </td><td>Insert the image of upsell #2</td></tr>
<tr><td>#upsell3# </td><td>Insert a link to upsell #3</td></tr>
<tr><td>#image3# </td><td>Insert the image of upsell #3</td></tr>
<tr><td>#upsell4# </td><td>Insert a link to upsell #4</td></tr>
<tr><td>#image4# </td><td>Insert the image of upsell #4</td></tr>
<tr><td>#upsell5# </td><td>Insert a link to upsell #5</td></tr>
<tr><td>#image5# </td><td>Insert the image of upsell #5</td></tr>



<tr><td colspan=2># Other info - system, security, etc.</td></tr>
<tr><td>#permissions#</td><td>Permissions of User.</td></tr>
<tr><td>#loginstatus#</td><td>Is the user Logged In?</td></tr>
<tr><td>#ipaddress#</td><td>IP Address of the User.</td></tr>
<tr><td>#suggestionlink#</td><td>The link to the suggestion box.</td></tr>
<tr><td>#cartname#</td><td>The term you call your 'cart'.</td></tr>

</table>
<?
}
DSEndpage();
?>
