<?php
########################################################################
# Copyright 2001 Desktop Solutions Software, Inc.
# 631-493-3422
# info@dtopinc.com
# www.dtopinc.com
# usage rights granted for use on a per-project-basis
#########################################################################
# $Id: move_files.html,v 1.2 2001/11/30 16:46:20 frank Exp $
require ("prepend.php3");
#page_open(array("sess" => "DS_Session"
#				,"auth" => "DS_Auth",
#				"perm" => "DS_Perm"
#				));
#########################################################################
#########################################################################
# move_files.html - admin script to move files to appropriate place
##############
#$DSDEBUG=1;
$Home="index.html";

require "move_files.inc";
    flush();
    if ($Submit) {
        FloodBuffer();
        switch(strtoupper($action)) {
            case "PUBLISH":
                echo "Publishing Site, Please Wait...<br>";
                flush();
                echo "Publishing Files...";
                flush();
                $output = system("cp -R $DSSTAGINGPATH/* $DSROOTPATH");
                echo $output;
                flush();
                echo "done<br>";
                flush();
                echo "Publishing Data to Live Site from Staging Area...";
                flush();
                MoveTables("PUBLISH");
                echo "done.<br>";
                flush();
                echo "Publishing Complete<br>";
                break;

            case "REVERT_TO_LIVE":

                echo "Downloading Live Site Files to Staging Area for editing...";
                flush();
                $output = system("cp -Rf $DSROOTPATH/* $DSSTAGINGPATH");
                echo $output;
                echo "done.<br>";
                flush();
                echo "Downloading Data to Staging Area for editing...";
                flush();
                MoveTables("REVERT");
                echo "done.<br>";
                flush();
                echo "<br>Download Complete<br>";

                break;

#            case "REVERT_PREVIOUS_LIVE":
#                break;

            default:
                echo "Error $action";
        }

        echo "<br><a href=$Home>Home</a>";
        echo "</td></tr>";
    }
    else {

        DSBeginPage("Publish Menu",1);
        $form = new DSForm;
        $form->StartForm("Publishing Options");
        #echo "<table border=1 width=$DSTABLEWIDTH cellpadding=4 cellspacing=0 bgcolor=$DSWINDOWBG width=100%>";
        echo "<tr><td>";
        echo "<input type=\"radio\" name=\"action\" value=\"publish\">";
        echo "Publish - Make the files and data in the staging section 'live'";
        echo "</td></tr>";
        echo "<tr><td>";
        echo "<input type=\"radio\" name=\"action\" value=\"revert_to_live\">";
        echo "Revert - Discard all changes made to staging and grab copy of live site for editing";
        echo "</td></tr>";
        #echo "</table>";
        $form->EndForm();
        DSEndPage(1,1);
    }
?>
