<?php
require("prepend.php3");
require("news.inc");
#$DSDEBUG=1;
$template_no = OneSQLValue( "select template_no from newsoption where newsoption_no = 1" );
$systemname = OneSQLValue( "select systemname from newsoption where newsoption_no = 1" );
DSBeginPage(NewsField("news_heading"),0,1,$template_no);
DrawNews(0,$worktype,$workcat,$searchfor);
if (NewsField("allow_news_posts")=="Y")
    echo "<center><a href=news_edit.dtop>Add your item to ".$systemname."</A></CENTER>";
if (InstantEdit()) {
    echo "<a href=news_browse.dtop><img src=$DSEDITBUTTON border=0></a>";
}
DSEndPage(0,0,$template_no);
?>
