<?php
require("prepend.php3");
$CurrentRecord=ReadCurrentRecord("news","news_no",$key);
$template_no = OneSQLValue( "select template_no from newsoption where newsoption_no = 1" );
if (strlen($CurrentRecord->news_filename)) {
    Header("Location:  $DSUPLOADURL$CurrentRecord->news_filename");
    return;
}
DSBeginPage("$CurrentRecord->title",0,1,$template_no);
if (strlen($back)) {
    $goback="<A href=javascript:history.go(-1);>Back to list";
}
echo "
<TABLE WIDTH=$DSTABLEWIDTH CELLPADDING=$DSTABLECELLPADDING CELLSPACING=$DSTABLECELLSPACING BGCOLOR=$DSWINDOWBG>
<TR><TD BGCOLOR=$DSHEADINGBG VALIGN=TOP><FONT COLOR=$DSHEADINGFG>$CurrentRecord->title</FONT></TD>
    <TD BGCOLOR=$DSHEADINGBG align=right>
    <font size=1>
    <a href=printfriendly.html?key=$key&tablename=news&keyfield=news_no&textfield=text>Print version<img align=absmiddle src=images/printicon_small.gif ALT=\"Print Friendly Version\" border=0></a><BR>
<!--    <a href=referafriend.php?news_no=$key>Send to a friend<img align=absmiddle src=images/sendtoafriend.gif ALT=\"Send to a friend\" border=0></a>-->
    </font>
    </TD>
</TR>
<TR><TD COLSPAN=2 HEIGHT=200 VALIGN=TOP>$CurrentRecord->text</TD></TR>

<TR><TD COLSPAN=2 BGCOLOR=$DSHEADINGBG ALIGN=CENTER><H3><FONT COLOR=$DSHEADINGFG>&nbsp;$goback</FONT></TD></TR>
</TABLE>";
echo "<BR><center><A href=news.html>".NewsField("news_heading")."</a></center>";
if (InstantEdit()) {
    echo "<a href=news_edit.dtop?key=$CurrentRecord->news_no><img src=$DSEDITBUTTON border=0></a>";
}
DSEndPage(0,0,$template_no);
?>
