<?php
########################################################################
# Copyright 2000 Desktop Solutions Software, Inc.
# 631-493-3422
# info@dtopinc.com
# www.dtopinc.com
# usage rights granted for use on a per-project-basis
#########################################################################
# $Id: order_status.html,v 1.4 2003/01/03 18:26:04 tom Exp $
require ("prepend.php3");
page_open(array("sess" => "DS_Session"
				,"auth" => "DS_Auth",
				"perm" => "DS_Perm"
				));
# TJM 7/17/01 - close page right after
page_close();
require ("lmp.inc");


$myperms = GetUsersPerms();
#echo "myperms=$myperms<br>";
#$myperms="superuser";
(($myperms=="lmpstaff" || $myperms=="superuser"))?$isadmin=1:$isadmin=0;

if ($custmastnum && !strlen($custmastnumber)) { //passed in via hidden form
    $custmastnumber = $custmastnum;
    $mapixcustno = $custmastnum;
}
else
    if (!$isadmin) {
        $mapixcustno = GetUsersMapixNo();
        if (!$mapixcustno) {
            header("Location: error1.html");
            return;
        }
        else {
            $custmastnumber = $mapixcustno;
        }
    }
else {  //is admin
    if ($custmastnumber) {
        $mapixcustno=$custmastnumber;
    }

}


#if (!strlen($custmastnumber)) {
#    $mapixcustno = GetUsersMapixNo();
#    $custmastnumber = $mapixcustno;
#}
#else {
#    $mapixcustno = $custmastnumber;
#}



#$DSDEBUG=1;

$PER_PAGE=12;

if ($isadmin) {
#    $adminsearch = "<tr><td>Search by Customer Number</td><td><input type=text name=custmastnumber size=10>&nbsp;</td></tr>";
    $adminsearch = "<tr><td colspan=3 valign=top><b>Search by Customer Number</b></td></tr><tr><td colspan=3><input type=text name=custmastnumber size=10></td></tr>";
}

#$UserRecord = GetUsersRecord();
#$mapixcustno= GetUsersMapixNo();
$CustMastRecord = ReadCurrentRecord("custmast","mapixcustno",$mapixcustno);
$companyname = $CustMastRecord->name;
$companynumber = $mapixcustno;


if ($custmastnumber) {
    $custvar = "custmastnumber=$custmastnumber&";
}


Function AltCellColor()
{
    static $counter=0;
    $color=0;

    if (($counter % 2)==0) {
        $color = "#E0E0C1";
    }
    else {
        $color = "#D6D6AD";
    }

    $counter++;
    return $color;
}



# set up which way

$whichway[0]="po;ASC";
$whichway[1]="order;ASC";
$whichway[2]="entered;ASC";
$whichway[3]="estimate;ASC";
$whichway[4]="amount;ASC";

if (!$OFFSET)
    $OFFSET=0;

if ($ORDERBY) {
    list($col,$direction) = explode(";",$ORDERBY);
    ($direction=="ASC")?$newdirection="DESC":$newdirection="ASC";

    switch($col) {
        case "po":
            $whichway[0]="po;$newdirection";
            $column="customer_po";
            break;
        case "order":
            $whichway[1]="order;$newdirection";
            $column="order_num";

            break;
        case "entered":
            $whichway[2]="entered;$newdirection";
#            $column="dte_ordered";
            $column="realorderdate";

            break;
        case "estimate":
            $whichway[3]="estimate;$newdirection";
#            $column="dte_est_ship";
            $column="realshipdate";

            break;
        case "amount":
            $whichway[4]="amount;$newdirection";
            $column="order_amount";

            break;


    }


}


#echo $HTTP_USER_AGENT;

(strstr($HTTP_USER_AGENT,"MSIE"))?$boxsize=15:$boxsize=10;


LMP_Main_HeaderAndMenu(FALSE);
echo "
   <form action=$PHP_SELF METHOD=POST>
    <table border=0 width=100%>
    <tr><td colspan=2><h2>Current Orders</td></tr>
    <tr><td colspan=2>&nbsp;</td></tr>
    <tr><td colspan=2><h3>$companyname</td></tr>
    <tr><td colspan=2><h3>Company Number: $companynumber</td></tr>
    <tr><td colspan=2>&nbsp;</td></tr>

 <!--   <tr><td>Search for P/O Number</td><td><input type=text name=ponumber size=10>&nbsp;</td></tr>
    <tr><td>Search for Shop Order Number<br>(7 digits, beginning with C)</td><td><input type=text name=shopordernumber size=10>&nbsp;</td></tr>
 -->


    <tr><td colspan=2>

    <table border=0 width=80%>
    <tr><td valign=top colspan=3><b>Search by:</b> (fill in one of the fields below, then hit Go!)</td></tr>
    <tr><td valign=top colspan=3>&nbsp;</td></tr>
    <tr><td valign=top><b>Purchase Order Number</b></td><td valign=top><b>Shop Order Number</b><br>(7 digits, beginning with C)</td></tr>
    <tr><td valign=top><input type=text name=ponumber size=$boxsize></td><td valign=top><input type=text name=shopordernumber size=$boxsize></td><td><input type=\"submit\" name=\"sogo\" value=\"Go!\"></td></tr>

    $adminsearch
    </table>

    </td></tr>




<!--    <tr><td>&nbsp;</td><td><input type=\"submit\" name=\"sogo\" value=\"Go!\"></td></tr> -->


    <tr><td colspan=2>&nbsp;</td></tr>
    <tr><td colspan=2>
    Click on a <b>shop order number</b> to view or print a copy of the acknowledgement.<br>
    Click any <b>heading</b> to sort the list. Click heading again to sort in reverse order.<br>
    </td></tr>
    <tr><td colspan=2 align=center>
    <!--begin invoice table-->


    <table border=0 width=100% cellpadding=3 cellspacing=2>
    <!-- BEGIN HEADINGS -->
    <tr>
        <td bgcolor=\"#FFFFFF\" VALIGN=\"bottom\"><font face=\"courier new\" size=\"-1\"><a href=$PHP_SELF?$custvar"."ORDERBY=$whichway[0]><b>P/O<BR>NUMBER</b></font></A></td>
        <td bgcolor=\"#FFFFFF\" VALIGN=\"bottom\"><font face=\"courier new\" size=\"-1\"><a href=$PHP_SELF?$custvar"."ORDERBY=$whichway[1]><b>SHOP<BR>ORDER<BR>NUMBER</b></font></A></td>
        <td bgcolor=\"#FFFFFF\" VALIGN=\"bottom\"><font face=\"courier new\" size=\"-1\"><a href=$PHP_SELF?$custvar"."ORDERBY=$whichway[2]><b>DATE<BR>ENTERED</b></font></A></td>
        <td bgcolor=\"#FFFFFF\" VALIGN=\"bottom\"><font face=\"courier new\" size=\"-1\"><a href=$PHP_SELF?$custvar"."ORDERBY=$whichway[3]><b>ESTIMATED<BR>SHIP<BR>DATE</b></font></A></td>
        <td bgcolor=\"#FFFFFF\" VALIGN=\"bottom\"><font face=\"courier new\" size=\"-1\"><a href=$PHP_SELF?$custvar"."ORDERBY=$whichway[4]><b>AMOUNT</b></font></A></td>
    </tr>
    <!-- END HEADINGS -->";

#    $q = "SELECT type_code,mapixcustno,customer_po,order_num,DATE_FORMAT(dte_order,'%m-%d-%Y') AS dte_ordered,DATE_FORMAT(dte_est_ship,'%m-%d-%Y') AS dte_est_ship,order_amount,invoice_num,carrier,shipping_ins,ups_tracking FROM order_status WHERE mapixcustno='$mapixcustno' AND type_code='O'";
#    $q = "SELECT type_code,mapixcustno,customer_po,order_num,DATE_FORMAT(dte_order,'%d-%b-%y') AS dte_ordered,dte_order AS realorderdate,DATE_FORMAT(dte_est_ship,'%d-%b-%y') AS dte_est_ship,dte_est_ship AS realshipdate,order_amount,invoice_num,carrier,shipping_ins,ups_tracking FROM order_status WHERE type_code='O'";
    $q = "SELECT type_code,mapixcustno,customer_po,order_num,DATE_FORMAT(dte_order,'%m/%d/%Y') AS dte_ordered,dte_order AS realorderdate,DATE_FORMAT(dte_est_ship,'%m/%d/%Y') AS dte_est_ship,dte_est_ship AS realshipdate,order_amount,invoice_num,carrier,shipping_ins,ups_tracking FROM order_status WHERE type_code='O'";

    if (!$isadmin || strlen($custmastnumber)) {
        $q.= " AND mapixcustno='$mapixcustno'";
    }

#    if ($ponumber && $pogo) {
    if ($ponumber) {
        $q .=" AND customer_po = '$ponumber'";
    }
    else
#        if ($custmastnumber && $custgo) {   //admin search
        if ($custmastnumber) {   //admin search
#            $q = "SELECT type_code,mapixcustno,customer_po,order_num,DATE_FORMAT(dte_order,'%d-%b-%y') AS dte_ordered,dte_order AS realorderdate,DATE_FORMAT(dte_est_ship,'%d-%b-%y') AS dte_est_ship,dte_est_ship AS realshipdate,order_amount,invoice_num,carrier,shipping_ins,ups_tracking FROM order_status WHERE mapixcustno='$custmastnumber' AND type_code='O'";
            $q = "SELECT type_code,mapixcustno,customer_po,order_num,DATE_FORMAT(dte_order,'%m/%d/%Y') AS dte_ordered,dte_order AS realorderdate,DATE_FORMAT(dte_est_ship,'%m/%d/%Y') AS dte_est_ship,dte_est_ship AS realshipdate,order_amount,invoice_num,carrier,shipping_ins,ups_tracking FROM order_status WHERE mapixcustno='$custmastnumber' AND type_code='O'";
        }
    else
#        if ($shopordernumber && $sogo) {
        if ($shopordernumber) {
            $q .=" AND order_num = '$shopordernumber'";
        }
    else {
        # default view all orders for this company

    }


    if ($ORDERBY) {
        $q.= " ORDER BY $column $direction";

    }
    else {
#        $q.= " ORDER BY customer_po ASC";
#        $q.= " ORDER BY realorderdate ASC";
        # TJM 01/03/03 - change to DESC
        $q.= " ORDER BY realorderdate DESC";
    }



    $r2 = DoQuery($q);
    $totalrows = @mysql_num_rows($r2);

    $q .= " LIMIT $OFFSET,$PER_PAGE";

    $r = DoQuery($q);

    if (mysql_num_rows($r)) {
        while ($row = mysql_fetch_object($r)) {
            if (!strlen($row->customer_po)) {
                $row->customer_po="N/A";
            }

            echo "<tr>";
            echo "<td bgcolor=".AltCellColor().">".$row->customer_po."</td>";
#            echo "<td bgcolor=".AltCellColor()."><a href=show_invoice.html?key=$row->order_num>".$row->order_num."</a></td>";
            echo "<td bgcolor=".AltCellColor()."><a href=print_invoice.html?invoice_num=$row->order_num>".$row->order_num."</a></td>";
            echo "<td bgcolor=".AltCellColor().">".$row->dte_ordered."</td>";
            if (!$row->dte_est_ship) {
                $row->dte_est_ship="Not Available";
            }

            echo "<td bgcolor=".AltCellColor().">".$row->dte_est_ship."</td>";
            echo "<td align=right bgcolor=".AltCellColor().">".number_format($row->order_amount,2)."</td>";

            echo "</tr>";
        }

        $PREV = "&nbsp;";
        $NEXT = "&nbsp;";

        if ($totalrows>($OFFSET+$PER_PAGE)) {
            $NEWOFFSET = $OFFSET+$PER_PAGE;
            if ($ORDERBY)
                $order_by = "ORDERBY=$ORDERBY&";
            $NEXT = "<a href=$PHP_SELF?".$order_by.$custvar ."OFFSET=$NEWOFFSET>Next&gt;&gt;</a>";
        }
        if ($OFFSET>0) {
            if ($ORDERBY)
                $order_by = "ORDERBY=$ORDERBY&";

            $NEWOFFSET = $OFFSET-$PER_PAGE;
            $PREV= "<a href=$PHP_SELF?".$order_by.$custvar."OFFSET=$NEWOFFSET>&lt;&lt;Previous</a>";
        }



        echo "<tr><td>$PREV</td><td colspan=3>&nbsp;</td><td align=right>$NEXT</td></tr>";
        echo "</table>";

        echo "<p><table border=0 width=100% cellpadding=3 cellspacing=2><tr><td bgcolor=#FFFFFF>
       *Estimated Ship Date is the date that we currently expect to ship the order. While it is generally accurate, it is not a guaranteed shipment date. Please contact our Customer Service team at 800-441-0019 if you wish to discuss shipment and delivery dates.  <br><br>Note: Information on orders entered today will be available online at
8:00 AM E.S.T. tomorrow. </TD></TR></TABLE>";
        $fp = @fopen("/tmp/lastupload",r);
        if ($fp) {
            echo "<br><small>";
            $lastmoddate = fread($fp,30);
            fclose($fp);
            echo "Order Information as of $lastmoddate</small>";
        }
    }
    else {
        echo "<h3>No records found</h3>";
    }
    echo "
    </table>
    <!--end invoice table-->

    </TD></TR>
    </table></form>";


LMP_Main_CartAndFooter();
page_close();
AddToLMPLog($auth->auth[uid],"order_status.html");

?>
