<?
########################################################################
# Copyright 2001 Desktop Solutions Software, Inc.
# 631-493-3422
# info@dtopinc.com
# www.dtopinc.com
# usage rights granted for use on a per-project-basis
#########################################################################
require ("prepend.php3");
page_open(
array("sess" => "DS_Session"));
$CurrentRecord=ReadCurrentRecord($tablename,$keyfield,$key);
echo "<TITLE>$CurrentRecord->title</TITLE>";
echo "<H1>$CurrentRecord->title</H1>";
echo $CurrentRecord->$textfield;
?>
