<?php
########################################################################
# Copyright 2001 Desktop Solutions Software, Inc.
# 631-493-3422
# info@desktopsolutions.com
# www.desktopsolutions.com
# usage rights granted for use on a per-project-basis
#########################################################################
require ("prepend.php3");
page_open(
array("sess" => "DS_Session"));
//Begin HTML here
## Displays a form of all possible attributes in a product family or type
## Driven by search table, which specifies which attributes are searchable
## Always needs $tablename
## $type is optional


DSBeginPage("Search");
$family=OneSQLValue("Select family from family where tablename='$tablename'");
echo "<form action=results.html METHOD=GET>
<input type=hidden name=tablename value=$tablename>
<input type=hidden name=family value=\"$family\">
<table bgcolor=$DSWINDOWBG align=center width=100%><tr><td colspan=2 BGCOLOR=$DSHEADINGBG><FONT COLOR=$DSHEADINGFG><H3>Search $family</td></tr>";
#$DSDEBUG=1;
if ($type) {
    ## if a search_type was passed in, get the key and restrict attributes
    ## to products of that type
    $type_no=OneSQLValue("SELECT type_no from type where type='$type'");
    $wherepostfix=" and type_no=$type_no";
}
else {
    ## ask for the type
    echo "
    <tr>
        <td>Type</td>
        <td>";
#$DSDEBUG=1;
    DrawDropDownHTML(
        "SELECT distinct type.type,type.type_no FROM $tablename,type WHERE type.type_no=$tablename.type_no order by 1",
        "search_type_no",
        $search_type_no,
        1);

echo "  </td>
    </tr>";
}
$result=DoQuery("select columnname,display_text from search where tablename='$tablename' and is_search='Y' order by display_order");
while ($CurrentRecord=mysql_fetch_array($result)) {
    if ($type && $CurrentRecord[0]=='type') {
        # if type was passed in, dont ask for it again here...
        # set the var that drives the search via hidden variable
        echo "<tr><td>Type:</td>
             <td><input type=hidden name=search_type value=\"$type\">$type</td>
             </tr>";
        continue;
    }
    $searchvar="search_".$CurrentRecord[0];
    $default=$$searchvar;
    echo "
    <tr>
        <td>$CurrentRecord[1]</td>
        <td>";
    DrawDropDownHTML(
        "SELECT distinct $CurrentRecord[0],$CurrentRecord[0] FROM $tablename WHERE length($CurrentRecord[0])>0 $wherepostfix ORDER BY 1",
        "search_".$CurrentRecord[0],
        "$default",
        1);

echo "  </td>
    </tr>";
}
$result=DoQuery("SELECT * from family where family='$family'");
$CurrentRecord=mysql_fetch_object($result);
if (mysql_num_rows($result)>0) {
    echo "
    <tr><td colspan=2 BGCOLOR=$DSHEADINGBG ALIGN=RIGHT><INPUT TYPE=Submit Name=Submit Value=Submit></td></tr>
        ";
}
else {
    echo "<tr><td colspan=2>Not found.  Please try again</td></tr>";
}
echo "</form></table>";
DSEndPage();
?>
