<?php
########################################################################
# Copyright 2000 Desktop Solutions Software, Inc.
# 631-493-3422
# info@dtopinc.com
# www.dtopinc.com
# usage rights granted for use on a per-project-basis
#########################################################################
# $Id: retrieve_invoices.html,v 1.12 2003/02/13 16:52:33 tom Exp $
require ("prepend.php3");
include('shipping_status.inc');
page_open(array("sess" => "DS_Session"));

$query_type=OneSQLValue( "select query_type from shippingoption where shippingoption_no=1" );


$systemname = OneSQLValue( "select systemname from shippingoption where shippingoption_no = 1" );
$status_help = OneSQLValue( "select html_status_help from shippingoption where shippingoption_no = 1" );
$template_no = OneSQLValue( "select template_no from shippingoption where shippingoption_no = 1" );
DSBeginPage("$systemname",0,1,$template_no);

######
Function displaytrackinglink($t)
######
{
    $r=$t->record;
    $carrier_tracking_num=ShippingStatusTrackingUrl($r[carrier_tracking_num],$r[carrier]);
    echo "<TD NOWRAP>$carrier_tracking_num</TD>";
}


if (!$Submit  && ! strlen($r_tablename)) {
    $sess->unregister("order_num");
    $sess->unregister("customer_po");
    $sess->unregister("cust_zip");
    $sess->unregister("cust_num");
    if ($query_type=='o') {
        $form = new DSForm;
        $form->add_element(array(
        "type"=>"text",
        "name"=>"cust_num",
        "size"=>30,
        "maxlength"=>30,
        "minlength"=>1,
        "length_e"=>"Please enter your customer number.",
        "value"=>$cust_num
        ));

        $form->add_element(array(
        "type"=>"text",
        "name"=>"order_num",
        "size"=>10,
        "maxlength"=>10,
        "value"=>$order_num
        ));

        $form->add_element(array(
        "type"=>"text",
        "name"=>"customer_po",
        "size"=>25,
        "maxlength"=>25,
        "value"=>$customer_po
        ));

        #TODO: some user supplied text from the database
        $form->StartForm("$systemname");
        echo "<tr><td colspan=2 VALIGN=top ALIGN=CENTER BGCOLOR='$DSWINDOWBG'><font color='$DSLABELFG'>$status_help</td></tr>";
        $form->DrawField("cust_num","Your Customer Number:",0,0,0);
        echo "<tr><td colspan=2 VALIGN=top BGCOLOR='$DSWINDOWBG'><font color='$DSLABELFG'>and <i>either</i></td></tr>";
        $form->DrawField("order_num","The Order Number:",0,0,0);
        echo "<tr><td colspan=2 VALIGN=top BGCOLOR='$DSWINDOWBG'><font color='$DSLABELFG'><i> -- or -- </i></td></tr>";
        $form->DrawField("customer_po","Your P.O Number:",0,0,0);
        
	$jsafter = <<<END
if (f.elements[1].value.length < 1 && f.elements[2].value.length < 1) {
  alert("Please enter either your Order Number or your P.O. Number to continue.");
  f.elements[1].focus();
  return(false);
}
END;
        
        $form->EndForm(0, $jsafter);
    }
    else {
        $form = new DSForm;
        $form->add_element(array(
        "type"=>"text",
        "name"=>"cust_num",
        "size"=>30,
        "maxlength"=>30,
        "minlength"=>1,
        "length_e"=>"Please enter your customer number.",
        "value"=>$cust_num
        ));

        $form->add_element(array(
        "type"=>"text",
        "name"=>"cust_zip",
        "size"=>11,
        "maxlength"=>30,
        "minlength"=>1,
        "length_e"=>"Please enter your zip code.",
        "value"=>$cust_zip
        ));
        #TODO: some user supplied text from the database
        $form->StartForm("$systemname");
        echo "<tr><td colspan=2 VALIGN=top ALIGN=CENTER BGCOLOR='$DSWINDOWBG'><font color='$DSLABELFG'>$status_help</td></tr>";
        $form->DrawField("cust_num","Your Customer Number:",0,0,0);
        $form->DrawField("cust_zip","Your <i>Billing</i> Zip Code:",0,0,0);

        $form->EndForm(0);
    }
}
else {
    $sess->register("order_num");
    $sess->register("customer_po");
    $sess->register("cust_zip");
    $sess->register("cust_num");

    if ($query_type=='o') {
        if (strlen($order_num)) {
            $wc="cust_num = '$cust_num' AND order_num = '$order_num'";
            $query="SELECT * from shipping_status WHERE $wc";
        }
        if (strlen($customer_po)) {
            $wc="cust_num = '$cust_num' AND customer_po = '$customer_po'";
            $query="SELECT * from shipping_status WHERE $wc";
        }
    }
    else {
        $wc="cust_num = '$cust_num' AND bill_zip = '$cust_zip'";
        $query="SELECT * from shipping_status WHERE $wc";
    }
    $handle=DoQuery($query);
    if (!mysql_num_rows($handle)) {
#        $TODO: data driven error message text from
        echo "<font color=red>No search results matched the information you provided.</font><BR><BR>
        <a href=javascript:history.back(1);>Click here</a> to try again.";
    }
    else {
        $t = new DSBrowse;
        $db = new DB_Example;
        $t->Key = "shipping_status_no"; //must match case used in select statement!
        $t->classname = "shipping_status";
        $t->db = $db;
        $t->Columns = "order_num,invoice,date_format(dte_order,'%m/%d/%y'),date_format(dte_ship,'%m/%d/%y'),order_amount,customer_po,carrier,carrier_tracking_num,dte_order,shipping_status_no";
        $t->TopHeading= "Shipping status, customer $cust_num";
        $t->fields=array("Order #","Invoice","Ordered","Shipped","Order Amt","PO #","Carrier","Tracking number");
        $t->HideFrom = count($t->fields);
        ## Optional settings:
        #$t->LinkColumns = array("col1"=>"http://","col2"=>"mailto:");
        $t->NoEditing=1;
        $t->NoAdding=1;
        $t->NoQuery = 1;
        $t->WhereClause = $wc;
        $t->OrderBy="dte_order DESC";
        $t->DisplayRows = 20;
        $t->Functions=Array("carrier_tracking_num"=>"displaytrackinglink");
        $t->display();
    }
}

DsEndPage(1,0,$template_no);
?>
