<?php
########################################################################
# Copyright 2001 Desktop Solutions Software, Inc.
# 631-493-3422
# info@dtopinc.com
# www.dtopinc.com
# usage rights granted for use on a per-project-basis
#########################################################################
require ("prepend.php3");
page_open(
array("sess" => "DS_Session",
"auth" => "DS_Auth",
"perm" => "DS_Perm"));
if (!HasPermissions("admin"))
    return;

DSBeginPage("Advanced Options",1);
StartDCMenu("Advanced Options");

if (defined(CATALOG)) {
    DrawDCMenuLine("Catalog");
    DrawDCMenuLine("<UL>Product Layout","Go","productlayout.dtop");
    DrawDCMenuLine("<UL>Re-Create Thumb Images","Go","imagesize.dtop");
    DrawDCMenuLine("<UL>Specials HTML","Go","specialshtml.dtop");
}

if (defined(CART)) {
    DrawDCMenuLine("Cart");
    DrawDCMenuLine("<UL>Cart Options","Go","cartoptions.dtop");
    DrawDCMenuLine("<UL>Checkout Procedure","Go","checkout_options.dtop");
    DrawDCMenuLine("Sales Tax");
    DrawDCMenuLine("<UL>Set Rates","Go","taxrate_browse.dtop");
    DrawDCMenuLine("<UL>Test Rates","Go","testtax.dtop");
    DrawDCMenuLine("Shipping rates");
    DrawDCMenuLine("<UL>Set Rates","Go","shiptype_browse.dtop");
    DrawDCMenuLine("<UL>Test Rates","Go","testship.dtop");
}

if (defined(UPSELL)) {
    DrawDCMenuLine("Upsell");
    DrawDCMenuLine("<UL>Upsell HTML","Go","upsellhtml.dtop");
}

if (defined(REGISTRATION)) {
    DrawDCMenuLine("Registration");
    DrawDCMenuLine("<UL>Registration Options","Go","register_options.dtop");
}

if (defined(YAHOOIMPORT)) {
    DrawDCMenuLine("Yahoo! Store Import","Go","yahoodownload.html");
}
if (defined(DCDOCS)) {
    DrawDCMenuLine("Documentation","Go","http://www.desktopcatalogs.com/user_docs/");
}

EndDCMenu();
DSEndPage(1,1);
?>
