<?php
require("prepend.php3");
require("search_url.php");
#$DSDEBUG=1;
$template_no = OneSQLValue( "select template_no from searchoption where searchoption_no = 1" );
$systemname = OneSQLValue( "select systemname from searchoption where searchoption_no = 1" );
DSBeginPage($systemname,0,1,$template_no);
if( empty( $searchstring ) )
{
  echo <<<END
<FORM action="sitesearch.html" method="post">
<TABLE>
  <tr>
    <td align="right">
      Search For:
    </td>
    <td>
      <input type="text" name="searchstring" size="48">
    </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>
      <input type="submit" value="Search">
    </td>
  </tr>
</TABLE>
</FORM>
END;
}
else
{
  echo search_url( $searchstring );
}

DSEndPage(0,0,$template_no);
?>
