<?php
########################################################################
# Copyright 2001 Desktop Solutions Software, Inc.
# 631-493-3422
# info@dtopinc.com
# www.dtopinc.com
# usage rights granted for use on a per-project-basis
#########################################################################
# $Id: suggestions.html,v 1.1.1.1 2001/11/28 20:11:54 tom Exp $
require ("prepend.php3");
page_open(array("sess" => "DS_Session"
#				,"auth" => "DS_Auth",
#				"perm" => "DS_Perm"
				));
#########################################################################
#########################################################################
# suggestions.html - allows users to send suggestions to
# the site administrator
##############
$form = new DSForm;
if (!strlen($goto)) {
    $goto = "index.html";
}
$UserRec = GetUsersRecord();

            # goto
            $form->add_element(array(
                        "type"=>"hidden",
                        "name"=>"goto",
                        "value"=>$goto
            ));

            # get ip address
            $form->add_element(array(
                        "type"=>"hidden",
                        "name"=>"field_ipaddress",
                        "value"=>$REMOTE_ADDR
                        ));


        $form->add_element(array(
            "type"=>"textarea",
            "name"=>"suggestions"
            ,"rows"=>10
            ,"cols"=>40
            ,"wrap"=>"virtual"
            ,"minlength"=>1
            ,"length_e"=>"Please type your suggestion below"
            ));

//if being called from myself, do validation..
if ($Submit) {
    if ($err=$form->validate()) {
        echo $err;
    }
    else {
        $SiteRec = ReadCurrentRecord("sitesetup",site_no,1);
        $userinfo .= "
Username        :$UserRec->username
Permissions     :$UserRec->perms
Company         :$UserRec->company
First           :$UserRec->first
Last            :$UserRec->last
lastlogon       :$UserRec->lastlogon
timesloggedon   :$UserRec->timesloggedon
Receive Email?  :$UserRec->receive_email
Bill addr1      :$UserRec->billaddress1
Bill addr2      :$UserRec->billaddress2
Bill City       :$UserRec->billcity
Bill State      :$UserRec->billstate
Bill Zip        :$UserRec->billzip
Bill Country    :$UserRec->billcountry
Bill phone      :$UserRec->billphone
Bill Fax        :$UserRec->billfax
Page Viewed     :$SiteRec->url/$goto
IP Address      :$field_ipaddress
                    ";

$userinfo .= "\nSuggestion:\n$suggestions\n\n";
#$userinfo .= "To view more information about this particular user, click here:\n";
#$userinfo .= $SiteRec->url ."/auth_user_edit.dtop?key=".$UserRec->uid . "\n";
    mail (
           $SiteRec->custsvc_emailid,
           "Suggestion from ".$SiteRec->systemname." website",
           $userinfo,
           "From: ".$UserRec->username. "\n\n"
         );

        header("Location: $goto");
    }
     return;
}

//Begin HTML here
DSBeginpage();
$form->StartForm("<p align=left>User Information</p>");
echo "<tr><td bgcolor=CORNSILK>&nbsp;</td><td bgcolor=CORNSILK>Type your suggestion in below, you will be brought back to the previous page:</td></tr>";
$form->DrawField("suggestions","Suggestions",0,0,0);
$form->EndForm(!isset($key));


// Save data back to database.
DSEndPage(0);
?>
