<TABLE WIDTH=803 BORDER=0 CELLPADDING=0 CELLSPACING=0>
	<TR>
		<TD COLSPAN=4>
			<IMG SRC="images/top.gif" width=803 height=158 ALT=""></TD>
	</TR>
	<TR VALIGN=CENTER>
		<TD COLSPAN=2>
			<IMG SRC="images/bldg.gif" WIDTH=246 HEIGHT=50 ALT=""></TD>
		<TD WIDTH=553 HEIGHT=50 ALIGN=CENTER>
		  <font face="Arial" size=1pt>
		  <a href="index.html">Home</a> |
		  <a href="visit.html">Come Visit</a> |
		  <a href="service.html">Our Service</a> |
		  <a href="philosophy.html">Philosophy</a> |
          <a href="education.html">Religious Education</a><BR>
          <a href="staff.html">Staff</a> |
          <a href="writings.html">Pastoral Writings</a> |
          <a href="history.html">History</a> |
          <a href="rennfaire/index.htm">Renaissance Faire</a> |
          <a href="auction.html">Service Auction</a><BR>
          <a href="beacon.html">Beacon Newsletter</a> |
          <a href="calendar.html">Coming Events</a> |
          <a href="http://www.guidestar.org/partners/helping/donate.jsp?ein=11-2584666" target="_blank">Make an Offering Online!</a>
          </font>
          </TD>
		<TD>
			<IMG SRC="images/linkright.gif" WIDTH=4 HEIGHT=50 ALT=""></TD>
	</TR>
	<TR>
		<TD BACKGROUND="images/leftbar.gif">&nbsp;</TD>
		<TD WIDTH=786 HEIGHT=255 COLSPAN=2>
          <table border="0" width="100%" height="100%" cellspacing="10" cellpadding="0">
            <tr>
              <td width="100%" valign="top" align="left">
<!-- CONTENT BEGINS -->
<!-- CONTENT ENDS -->
              </td>
            </tr>
          </table>
        </TD>
		<TD BACKGROUND="images/rightbar.gif">&nbsp;</TD>
	</TR>
	<TR>
		<TD COLSPAN=4>
			<IMG SRC="images/bottom.gif" WIDTH=803 HEIGHT=106 BORDER=0 ALT="" USEMAP="#bottom_Map"></TD>
	</TR>
	<TR>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=13 HEIGHT=1 ALT=""></TD>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=233 HEIGHT=1 ALT=""></TD>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=553 HEIGHT=1 ALT=""></TD>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=4 HEIGHT=1 ALT=""></TD>
	</TR>
</TABLE>
<MAP NAME="bottom_Map">
<AREA SHAPE="rect" ALT="" COORDS="623,68,744,83" HREF="http://www.guidestar.org/partners/helping/donate.jsp?ein=11-2584666">
<AREA SHAPE="rect" ALT="" COORDS="542,70,617,84" HREF="calendar.html">
<AREA SHAPE="rect" ALT="" COORDS="445,70,538,83" HREF="beacon.html">
<AREA SHAPE="rect" ALT="" COORDS="362,71,440,84" HREF="auction.html">
<AREA SHAPE="rect" ALT="" COORDS="313,69,358,83" HREF="staff.html">
<AREA SHAPE="rect" ALT="" COORDS="223,68,309,83" HREF="writings.html">
<AREA SHAPE="rect" ALT="" COORDS="622,54,718,67" HREF="rennfair/">
<AREA SHAPE="rect" ALT="" COORDS="578,51,616,68" HREF="history.html">
<AREA SHAPE="rect" ALT="" COORDS="470,49,568,69" HREF="education.html">
<AREA SHAPE="rect" ALT="" COORDS="404,50,463,67" HREF="philosophy.html">
<AREA SHAPE="rect" ALT="" COORDS="338,52,400,69" HREF="service.html">
<AREA SHAPE="rect" ALT="" COORDS="291,53,331,68" HREF="visit.html">
<AREA SHAPE="rect" ALT="" COORDS="249,53,284,68" HREF="index.html">
</MAP>
<table width=803 border=0>
<tr>
<td align=center>
Email us at <a href="mailto:info@uufh.org">info@uufh.org</a><br><br>
Site programmming, hosting and maintanence donated by <a href="http://desktopsolutions.com">Desktop Solutions Software</a>.<br>
Graphic design donated by <a href="http://www.laurelei.com">Laurelei &amp; Co</a>.<br>
</td>
</tr>
</table>
