<?php
########################################################################
# Copyright 2002 Desktop Solutions Software, Inc.
# 631-493-3422
# info@dtopinc.com
# www.dtopinc.com
# usage rights granted for use on a per-project-basis
#########################################################################
require ("prepend.php3");
#Uncomment for session management, and end with page_close();
page_open(
array("sess" => "DS_Session",
"auth" => "DS_Auth",
"perm" => "DS_Perm"));
#if (!HasPermissions("admin")) {
#    return;
#}
#########################################################################
# Browse routine for ramp.auth_user
# generated at Wednesday 09th of January 2002 02:22:41 PM
##############
$t = new DSBrowse;
$db = new DB_Example;
$t->Key = "uid"; //must match case used in select statement!
$t->TableName="auth_user";
$t->classname = "contact";
$t->db = $db;
$t->Columns = "screenname,image_filename,city,state,uid,models_owned";
$t->TopHeading= "Club Members";
$t->fields=array("Screen Name");
$t->HideFrom = count($t->fields);
$t->SearchChoices = array("Screen Name"=>"screenname");

## Optional settings:
#$t->LinkColumns = array("col1"=>"http://","col2"=>"mailto:");
#$t->ChangeOrder=1;
$t->NoEditing=1;
$t->NoAdding=1;
#$t->NoQuery = 1;
$t->WhereClause = "perms not like 'admin%' AND length(screenname)>1";
#$t->DisplayRows = 10;
$t->Functions=Array("screenname"=>"userpic");
######
Function userpic($t)
######
{
    global $DSPRODUCTTHUMBURL,$DSTHUMBSIZE,$DSDEBUG;
    $r=$t->record;
    echo "<TD><table border=1 WIDTH=100%><tr HEIGHT=75>";
    #$DSDEBUG=1;
    if (strlen($r[image_filename])) {
        GenThumbIfNeeded($r[image_filename]);
        echo "<TD width=150><a href=userdetail.html?key=$r[uid]><img src=\"$DSPRODUCTTHUMBURL$r[image_filename]\"></a></TD>";
    }
    else {
        echo "<TD width=150><font size=1>no picture on file!</font></TD>";
    }
    echo "<TD VALIGN=TOP>
        <a href=userdetail.html?key=$r[uid]>$r[screenname]</a><BR>
        <FONT SIZE=1>
        $r[city],$r[state]<BR>
        $r[models_owned]
        </FONT>
        </TD>";
    echo "</tr></table></TD>";
}


DSBeginPage("Users",0,1,1);
$t->display();
echo "<center><a href=clubhome.html>Club Home</a></center>";
DSEndPage(0,0,1);
?>
