<?php
require("prepend.php3");
$CurrentRecord=ReadCurrentRecord("auth_user","uid",$key);
DSBeginPage("$CurrentRecord->screenname",0,1,1);
##############
Function DisplayUserDataRow($data,$label)
##############
{
    if (!strlen(trim($data)))
        return;
    echo "<TR><TD width=20% NOWRAP VALIGN=TOP BGCOLOR=$DSALTCOLDATABG><b>$label:</b></TD><TD BGCOLOR=$DSCOLDATABG>$data</TD></TR>";
}


echo "
<TABLE WIDTH=$DSTABLEWIDTH CELLPADDING=$DSTABLECELLPADDING CELLSPACING=$DSTABLECELLSPACING BGCOLOR=$DSWINDOWBG>
<TR><TD colspan=2 BGCOLOR=$DSHEADINGBG><H3><FONT COLOR=$DSHEADINGFG>$CurrentRecord->screenname</FONT></TD></TR>";
if (strlen($CurrentRecord->image_filename) ) {
    echo "<tr><td colspan=2>
    <a href=\"$DSUPLOADURL$CurrentRecord->image_filename\"><img src=\"$DSPRODUCTTHUMBURL$CurrentRecord->image_filename\" hspace=5 vspace=5 align=left></A>
    $CurrentRecord->text_bio</td></tr>";
}
else {
    echo "<tr><td colspan=2>
    $CurrentRecord->text_bio</td></tr>";
}
DisplayUserDataRow($CurrentRecord->city.' '.$CurrentRecord->state,"From");
DisplayUserDataRow($CurrentRecord->occupation,"Occupation");
DisplayUserDataRow($CurrentRecord->models_owned,"Vehicles owned");
DisplayUserDataRow($CurrentRecord->what_i_like_best,"What I like best about my bike");
DisplayUserDataRow($CurrentRecord->favorite_movies,"Favorite movies");
DisplayUserDataRow($CurrentRecord->favorite_musical_artist,"Favorite musical artist");
echo "
<TR><TD colspan=2 BGCOLOR=$DSHEADINGBG><H3><FONT COLOR=$DSHEADINGFG>&nbsp;</FONT></TD></TR>
</TABLE>";
echo "<BR><center><A href=users.html>Users</a></center>";
if (InstantEdit()) {
    echo "<a href=contact_edit.dtop?key=$CurrentRecord->uid><img src=$DSEDITBUTTON border=0></a><BR>";
}
if ($key=GetUserID()) {
    echo "<A HREF=contact_edit.dtop?key=$key>Modify your profile</a><BR>";
}

DSEndPage(0,0,1);
?>
