<?php
########################################################################
# Copyright 1999 Desktop Solutions Software, Inc.
# 516-493-3422
# info@dtopinc.com
# www.dtopinc.com
# usage rights granted for use on a per-project-basis
#########################################################################
require ("prepend.php3");
function AskForZipCode()
{
    global $PHP_SELF,$distance,$zipcode,$systemname,$html_locate_page,$DSWINDOWBG,$DSWINDOWFG,$default_miles;
    if ($distance==0)
        $distance=$default_miles;

    $form = new DSForm;


    $form->add_element(array(
    "type"=>"text",
    "name"=>"zipcode",
    "value"=>$zipcode,
    "size"=>5,
    "maxlength"=>5,
    "minlength"=>1,
    "length_e"=>"Please enter the zip code field."
    ));

    $form->add_element(array(
    "type"=>"text",
    "name"=>"distance",
    "value"=>$distance,
    "size"=>5,
    "maxlength"=>5,
    "minlength"=>1,
    "length_e"=>"Please enter the distance field."
    ));

    $form->StartForm("$systemname Locate");
    echo "
    <tr>
        <td bgcolor=$DSWINDOWBG colspan=2><FONT COLOR=$DSWINDOWFG>
            $html_locate_page
        </td>
    </tr>
    ";
    $form->DrawField("zipcode","Enter your zip code:",1,1,0);
    $form->DrawField("distance","Approximate distance in miles:",1,1,0);
    $form->EndForm(!isset($key));
}

function ListZipCodes($zip,$distance)
{
    global $DSDEBUG;
    global $DSHTMLTOP,
           $DSTEXTFG,$DSPAGEBG,$DSLINK,$DSVLINK,$DSALINK,$DSHEADINGFG,
           $DSLABELFG,$DSREQUIREDFG,$DSCOLLABELFG,$DSHEADINGBG,$DSWINDOWBG,
           $DSCOLLABELBG,$DSCOLDATABG,$DSALTCOLDATABG,$DSHEADINGBG,
           $DSWINDOWBG,$DSCOLLABELBG,$DSCOLDATABG,$DSSYSTEMNAME,
           $DSOWNERNAME,$DSIMAGEBG,$DSTABLEALIGN,$DSTABLEWIDTH,
           $DSTABLEBORDER,$DSTABLECELLSPACING,$DSTABLECELLPADDING,
           $DSHTMLTOP,$DSHTMLLEFT,$DSHTMLCENTER,$DSHTMLRIGHT,
           $DSHTMLBOTTOM;
    global $html_result_page,$result_message,$display_directions,$display_distance,$default_miles;

    $result=DoQuery("select latitude,longitude from ziplocs where zip = '$zip'");
    $row = mysql_fetch_object($result);
    $lat1 = $row->latitude;
    $long1 = $row->longitude;

    $result = DoQuery("
    select
    location.location,
    location.*,
    sqrt(
    power(69.1*(latitude  - $lat1),2) +
    power(69.1*(longitude - $long1) *
    cos(latitude/57.3),2)) as dist
    from
    location,ziplocs WHERE
    location.zip=ziplocs.zip and
    sqrt(
    power(69.1*(latitude  - $lat1),2) +
    power(69.1*(longitude - $long1) *
    cos(latitude/57.3),2)) < $distance
    ORDER BY dist
    ");


    echo "
    <BR><table CELLPADDING=$DSTABLECELLPADDING CELLSPACING=$DSTABLECELLSPACING BORDER=$DSTABLEBORDER WIDTH=$DSTABLEWIDTH>
    <TR>
        <td bgcolor='$DSHEADINGBG'align='center' colspan=2>
        <font color='$DSHEADINGFG'>$html_result_page</FONT>";
        if ($row == false) {
            echo ("<center><b>'$zip' was not in our database.<BR>Please try again.</center>");
        }
        echo "
        </td>
    </TR>
    ";
    if ($row==false) {
        echo "</table>";
        return;
    }

    while ($record = mysql_fetch_object($result)) {
        if (strlen($record->state) && strlen($record->zip))
            $comma=", ";
        else
            $comma=" ";
        echo "
        <tr>
            <td bgcolor='$DSCOLDATABG' valign=top>
                <font color='$DSCOLDATAFG'><B>$record->location</B>
            </td>
            <td bgcolor='$DSCOLDATABG' valign=top align=right>";
                if ($display_distance)
                    echo "(".number_format($record->dist,2)." miles)";
            echo "
            </td>
        </tr>
        <tr>
            <td bgcolor='$DSALTCOLDATABG' valign=top><font color='$DSCOLDATAFG' SIZE=-1>";
                ConditionalLine($record->address_1);
                ConditionalLine($record->address_2);
                ConditionalLine("$record->city $record->state$comma$record->zip");
                if ($display_directions=='Y')
                    MapLink($record->address_1,$record->zip);
                echo "
            </TD>
            <td bgcolor='$DSALTCOLDATABG' valign=top><font color='$DSCOLDATAFG'  SIZE=-1>";
                ConditionalLine($record->location_num,"Location #:");
                ConditionalLine($record->phone,"Phone:");
                ConditionalLine($record->fax,"Fax:");
                ConditionalLine($record->hours,"Hours:");
                ConditionalLine("$record->email","Email :","<a href=mailto:",">$record->email</a>");
                ConditionalLine("$record->website","Website:","<a href=http://"," target=_new>$record->website</a>");
                echo "
            </td>
        </tr>";
        if (strlen($record->html_location)) {
            echo
        "<tr>
            <td bgcolor='$DSALTCOLDATABG' valign=top colspan=2><font color='$DSCOLDATAFG'  SIZE=-1>
                <BR>$record->html_location
            </td>
        </tr>";
        }
    }
    echo "</table>";
}

$Options=ReadCurrentRecord("ziplocateoption","ziplocateoption_no",1);
$html_locate_page=$Options->html_locate_page;
$html_result_page=$Options->html_result_page;
$display_directions=$Options->display_directions;
$display_distance=$Options->display_distance;
$module_template_no = $Options->module_template_no;
$default_miles = $Options->default_miles;
$systemname = $Otions->systemname;

DSBeginPage($systemname,0,1,$module_template_no);
AskForZipCode();
if (strlen($zipcode)) {
    ListZipCodes($zipcode,$distance);
}
DSEndPage(1,0,$module_template_no); ##CET removed skip extra and added template
?>
