<%
##########
# fileselector_top.htm - displays the file names
# top frame for file selection
# TJM 05/17/01
# $Id: fileselector_top.html,v 1.1.1.1 2001/11/28 20:11:54 tom Exp $
# params
# $dir, $excludedirs
# going into a directory not yet supported
##########
#require "prepend.php3";

##############
# Function DirArray($dir,$excludedirs=0)
# Returns an array of files in a directory
# copied into this script because of include problems
# modified to exclude subdirs
# todo - file type filter
##############
Function DirArray($dir,$excludedirs=0)
{
    $loops = 0;
    $d = dir("$dir");
    while($entry=$d->read()) {
        if (substr($entry,0,1)<>'.') {
            if (!$excludedirs) {
                $files[$loops++]=$entry;
            }
            else {
                if (!is_dir($entry)) {
                    $files[$loops++]=$entry;
                }
            }
        }
    }
    $d->close();
    $files[$loops++]=' ';
    asort($files);
    return $files;
}

%>
<html>
<meta http-equiv="Content-Type" content="text/html; Charset=iso-8859-1">
<head>
</head>
<body bgcolor=#ffffff link=#0000ee vlink=#0000ee text=#000000   >
<script>
function fileclick(f, d)
{
curr = top.frames[1].document.forms[0].elements[1].value;
if (curr == f) {
	// Double-click! Enter directory or select file
	if (d) {
		// Enter this directory
		location = "chooser.cgi?frame=1&chroot=/&type=0&file="+f+"/";
		}
	else {
		// Select this file and close the window
		top.ifield.value = f;
		top.close();
		}
	}
else {
	top.frames[1].document.forms[0].elements[1].value = f;
	}
}

function parentdir(p)
{
top.frames[1].document.forms[0].elements[1].value = p;
location = "chooser.cgi?frame=1&chroot=/&type=0&file="+p;
}
</script>
<b>Directory of <% echo $dir %></b>
<table width=100%>
<%

if (!$dir) { $dir="."; }
# $excludedirs - need to implement
$files = DirArray($dir);

while (list($key,$val) = each($files)) {
    if (strlen($val) && $val!=' ') {
        echo "<tr><td><a href=# onClick=\"fileclick('$val', 0); return false\">$val</a></td></tr>\n";
    }

}

%>
</table>
