<?
##########
# fileselector.html
# frames page for file selection
# TJM 05/17/01
# $Id: fileselector.html,v 1.1.1.1 2001/11/28 20:11:54 tom Exp $
##########
?>
<html>

<head>
<title>Please Choose</title>
</head>

<frameset rows="84%,*">
  <frame name="top" src="fileselector_top.html?dir=<% echo $dir; %>&excludedirs="<% echo $excludedirs%>" scrolling="auto">
  <frame name="bottom" src="fileselector_bottom.html">
  <noframes>
  <body>

  <p>This page uses frames, but your browser doesn't support them.</p>

  </body>
  </noframes>
</frameset>

</html>
