<%
##########
# fkselector_top.htm - displays the fk
# top frame for fk selection
# TJM 05/19/01
# $Id: fkselector_top.html,v 1.1.1.1 2001/11/28 20:11:54 tom Exp $
# params
# $table, $fields,$whereclause, $orderby
##########
#require "prepend.php3";
#flush();
#phpinfo();
#echo "got here!";
if (!$table) {
    echo "table not set";
    return;
}

if (!$fields) {
    echo "fields not set";
    return;
}

%>



<html>
<meta http-equiv="Content-Type" content="text/html; Charset=iso-8859-1">
<head>
</head>
<body bgcolor=#ffffff link=#0000ee vlink=#0000ee text=#000000   >
<script>
function fileclick(f, d)
{
curr = top.frames[1].document.forms[0].elements[1].value;
if (curr == f) {
	// Double-click! Enter directory or select file
	if (d) {
		// Enter this directory
		location = "chooser.cgi?frame=1&chroot=/&type=0&file="+f+"/";
		}
	else {
		// Select this file and close the window
		top.ifield.value = f;
		top.close();
		}
	}
else {
	top.frames[1].document.forms[0].elements[1].value = f;
	}
}

function parentdir(p)
{
top.frames[1].document.forms[0].elements[1].value = p;
location = "chooser.cgi?frame=1&chroot=/&type=0&file="+p;
}
</script>
Viewing Table <b><% echo $table %></b>
<table width=100%>
<%

$q = "SELECT $fields FROM $table";
if (strlen($whereclause)) {
    $q.= " WHERE ".urldecode(stripslashes($whereclause));
}
$q.= " ORDER BY '$orderby'";



#echo $q;
require "../../private/.database.inc";

$link = mysql_connect($DSHOST, $DSUSER, $DSPASSWORD)
        or die ("Could not connect");
mysql_select_db ($DSDATABASE);
$r = mysql_query ($q);

#$r = DoQuery($q);
echo "<table border=0 width=100%>\n";
if (mysql_num_rows($r)>0) {
    while ($row = mysql_fetch_array($r)) {
        echo "<tr>";

        echo "<td><a href=# onClick=\"fileclick('$row[0]', 0); return false\">$row[0]</a></td>";
        echo "<td>".$row[1]."</td>";
        echo "</tr>";

    }
}
else {
    echo "<tr><td colspan=2>No Records Found.</td></tr>";
}
%>
</table>
