<?
##########
# fkselector.htm
# frames page for fk selection
# TJM 05/19/01
# $Id: fkselector.html,v 1.1.1.1 2001/11/28 20:11:54 tom Exp $
##########
?>
<html>

<head>
<title>Please Choose</title>
</head>

<frameset rows="84%,*">
  <frame name="top" src="fkselector_top.html?table=<% echo $table; %>&fields=<% echo urlencode($fields); %>&whereclause=<% echo urlencode($whereclause); %>&orderby=<% echo $orderby %>" scrolling="auto">
  <frame name="bottom" src="fkselector_bottom.html">
  <noframes>
  <body>

  <p>This page uses frames, but your browser doesn't support them.</p>

  </body>
  </noframes>
</frameset>

</html>
